div.color-thumbnail {
    padding: 0.25rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: 5rem;
    height: 5rem;
}

.td__description {
    font-size: 12px;
}

.td__userLink {
    text-decoration: none;
    color: black;
}

.td__userLink:hover {
    text-decoration: underline;
    color: -webkit-link;
}
