<div ng-controller="IncidentFormModalController">
  <div class="modal-header">
    <button class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 class="modal-title">
      <div class="icon-left" ng-show="incident._id == null">Create Incident</div>
      <div class="icon-left" ng-show="incident._id != null">Edit Incident</div>
    </h4>
  </div>
  <div class="modal-body">
    <div class="well bs-component">
      <form name="form" class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for="Title" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-9">
              <div class="input-group">
                <input id="title" name="title" type="text" class="form-control" ng-model="incident.title" maxlength="32" required ng-focus>
                <span class="input-group-addon"><span ng-show="incident.title.length && form.title.$focused">{{32 - incident.title.length}}</span></span>
              </div>
              <div class="has-error" ng-show="showErrors">
                <div class="help-block" ng-show="form.title.$error.required">Title is required.</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="status" class="col-lg-2 control-label">Status</label>
            <div class="col-lg-9">
              <select id="status" name="status" ng-model="incident.status" ng-options="value | capitalize for value in status" class="form-control" required></select>
              <div class="has-error" ng-show="showErrors">
                <div class="help-block" ng-show="form.status.$error.required">Status is required.</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="veracity" class="col-lg-2 control-label">Verified</label>
            <div class="col-lg-9">
              <input type="checkbox" id="veracity" name="veracity" ng-model="incident.verified" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="location" class="col-lg-2 control-label">Location</label>
            <div class="col-lg-9">
              <input id="location" ng-autocomplete name="location" details="details" type="text" class="form-control" ng-model="incident.locationName">
            </div>
          </div>
          <div class="form-group">
            <label for="latitude" class="col-lg-2 control-label inline">Latitude</label>
            <div class="col-lg-3 inline">
              <input id="latitude" ng-required="incident.longitude" ng-pattern="/^-?[0-9]\d*(\.\d+)?$/" ng-min="-90" ng-max="90" name="latitude" type="text" class="form-control" ng-model="incident.latitude">
              <div class="has-error" ng-show="showErrors">
                <div class="help-block" ng-show="form.latitude.$error.pattern">Latitude is invalid.</div>
                <div class="help-block" ng-show="form.latitude.$error.ngMax || form.latitude.$error.ngMin">Latitude is invalid.</div>
                <div class="help-block" ng-show="form.latitude.$error.required">Latitude is required if longitude is entered.</div>
              </div>
            </div>
            <div class="col-lg-1 inline"></div>
            <label for="longitude" class="col-lg-2 control-label inline">Longitude</label>
            <div class="col-lg-3 inline">
              <input id="longitude" ng-required="incident.latitude" ng-pattern="/^-?[0-9]\d*(\.\d+)?$/" ng-min="-180" ng-max="180" name="longitude" type="text" class="form-control" ng-model="incident.longitude">
              <div class="has-error" ng-show="showErrors">

                <div class="help-block" ng-show="form.longitude.$error.ngMax || form.longitude.$error.ngMin">Longitude is invalid.</div>
                <div class="help-block" ng-show="form.longitude.$error.required">Longitude is required if latitude is entered.</div>
                    <div class="help-block" ng-show="form.longitude.$error.pattern">Longitude is invalid.</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="user" class="col-lg-2 control-label">Assign To</label>
            <div class="col-lg-9">
              <select id="user" name="user" ng-model="incident.assignedTo" ng-options="user for user in users" class="form-control">
                <option value="">Select User</option>
              </select>
              <div class="has-error" ng-show="showErrors">
                <div class="help-block" ng-show="form.user.$error.required">User is required.</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="notes" class="col-lg-2 control-label">Notes</label>
            <div class="col-lg-9 notes-text">
              <textarea id="notes" name="notes" class="form-control" ng-model="incident.notes"></textarea>
              <div class="has-error" ng-show="showErrors">
                <div class="help-block" ng-show="form.notes.$error.required">Notes field is required.</div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Close</button>
    <button class="btn btn-primary" ng-click="save(form)">Submit</button>
  </div>
</div>
