<div ng-controller="IncidentSelectModalController">
  <div class="modal-header">
    <h5 class="modal-title">
      <div class="icon-left" translate>Add report to incident</div>
    </h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p ng-hide="incidents" class="info">{{"Sorry, but we couldn't find any incidents. You can" | translate}} <button type="button" class="btn-text" ng-controller="IncidentFormModalController" ng-click="create(reports)">{{'create a new incident' | translate}}</button>.</p>
    <div class="container-fluid" ng-show="incidents">
      <p class='info'>{{'Click an incident below to which you would like to add the report. Or you can' | translate}} <button type="button" class="btn-text" ng-controller="IncidentFormModalController" ng-click="create(reports)">{{'create a new incident' | translate}}</button>.</p>
      <div class="row justify-content-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <label for="topIncidentPagination">
              {{ pagination.start }} - {{ pagination.end }} of {{ pagination.total }}
            </label>
          </li>
          <li class="list-inline-item">
            <nav aria-label="Incident page navigation">
              <ul id="topIncidentPagination" class="pagination justify-content-end">
                <li class="page-item" ng-class="{disabled: isFirstPage() }">
                  <a title="Previous Page" aria-label="Previous Page" class="page-link"  ng-click="getPage(pagination.page - 1)" ><i class="fa fa-chevron-left"></i></a>
                </li>
                <li class="page-item" ng-class="{disabled: isLastPage() }">
                  <a title="Next Page" class="page-link"  ng-click="getPage(pagination.page + 1)"><i class="fa fa-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </li>
        </ul>
      </div>
      <div ng-include="'/templates/incidents/table.html'"></div>
      <div class="row justify-content-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <label for="bottomIncidentPagination">
              {{ pagination.start }} - {{ pagination.end }} of {{ pagination.total }}
            </label>
          </li>
          <li class="list-inline-item">
            <nav aria-label="Incident page navigation">
              <ul id="bottomIncidentPagination" class="pagination justify-content-end">
                <li class="page-item" ng-class="{disabled: isFirstPage() }">
                  <a title="Previous Page" aria-label="Previous Page" class="page-link"  ng-click="getPage(pagination.page - 1)" ><i class="fa fa-chevron-left"></i></a>
                </li>
                <li class="page-item" ng-class="{disabled: isLastPage() }">
                  <a title="Next Page" class="page-link"  ng-click="getPage(pagination.page + 1)"><i class="fa fa-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()" translate>Close</button>
  </div>
</div>
