<table class="table" ng-show="pagination.total > 0 || modal">
  <thead>
    <tr>
      <th ng-hide="modal || !currentUser.can('edit data')"></th>
      <th class="compact" translate>ID#</th>
      <th class="compact" translate>Title</th>
      <th class="compact" translate>Location</th>
      <th ng-show="currentUser.can('view other users')" class="compact" translate>Assigned To</th>
      <th class="compact" translate>Status</th>
      <th class="compact" translate>Veracity</th>
      <th class="compact" translate>Escalated?</th>
      <th class="compact" translate>Tags</th>
      <th class="compact" translate>Last Updated</th>
      <th ng-hide="modal || !currentUser.can('edit data')" class="compact"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="i in incidents | orderBy:['closed','idnum']" ng-class="{ item: true, 'bg-gray': i.closed }" ng-click="select(i)" >
      <td ng-hide="modal || !currentUser.can('edit data')"><input ng-model="i.selected" type="checkbox" ng-model="i._id" /></td>
      <td class="compact content">
        <strong>{{ i.idnum + 1 | tripleDigit }}</strong>
      </td>
      <td class="compact">
        <a ng-hide="modal" href="incidents/{{i._id}}" class="table-primary"><strong>{{ i.title }}</strong></a>
        <strong ng-show="modal">{{ i.title }}</strong>
        <br />
        <span class="text-gray">{{i.totalReports}} {{'reports' | translate}}</span>
      </td>
      <td class="compact content">
        <div class="map-marker pull-left" ng-show="i.latitude && i.longitude"></div>
        <span ng-if="i.locationName">{{ i.locationName }}</span>
        <span ng-if="!i.locationName && i.latitude && i.longitude">{{ i.latitude | number:6 }}, {{ i.longitude | number:6 }}</span>
      </td>
      <td ng-show="currentUser.can('view other users')" class="compact"><a href="profile/{{i.assignedTo.username}}">{{ i.assignedTo.username }}</a></td>
      <td class="compact content">{{ {false: 'Open', true: 'Closed'}[i.closed] | translate }}</td>
      <td class="compact content">
        <div ng-if="i.veracity != null">
          <div translate>Confirmed</div>
          <span ng-if="i.veracity" class="text-green" translate>True</span>
          <span ng-if="!i.veracity" class="text-red" translate>False</span>
        </div>
      </td>
      <td class="compact content">{{ {false: 'No', true: 'Yes'}[i.escalated] | translate }}</td>
      <td class="compact content">{{ tagsToString(i.tags) }}</td>
      <td class="compact">
        <div class="interval">
          <span class="interval-amount">{{ i.updatedAt | interval }}</span>
          <span class="interval-relative" translate>ago</span>
        </div>
        <div class="date-and-time">
          <span class="time">{{ i.updatedAt | aggieDate:'time' }}</span>
          <span class="date">{{ i.updatedAt | aggieDate:'date' }}</span>
        </div>
      </td>
      <td ng-hide="modal ||  !currentUser.can('edit data')" class="compact actions">
        <div ng-controller="IncidentFormModalController" class="fa pointer fa-pencil text-blue" ng-click="edit(i)"></div>
        <div class="fa pointer fa-trash text-blue" aggie-confirm="{{ 'Are you sure you want to delete this incident?' | translate }}" on-confirm="delete(i)"></div>
      </td>
    </tr>
  </tbody>
</table>
