<!-- TODO: Make this into two different files for clarity -->
<div class="table-responsive">
  <table class="table table-sm" ng-show="pagination.total > 0 || modal" ng-class="{'table-hover': modal}">
    <thead>
    <tr>
      <th ng-hide="modal || !currentUser.can('edit data')"></th>
      <th scope="col" translate>ID#</th>
      <th scope="col" translate>Title</th>
      <th scope="col" translate>Location</th>
      <th scope="col" ng-show="currentUser.can('view other users')" translate>Assigned To</th>
      <th scope="col" ng-show="currentUser.can('view other users')" translate>Created By</th>
      <th scope="col" translate>Status</th>
      <th scope="col" translate>Veracity</th>
      <th scope="col" translate>Escalated?</th>
      <th scope="col" translate>Tags</th>
      <th scope="col" translate>Modified Date</th>
      <th scope="col" ng-hide="modal || !currentUser.can('edit data')">Edit</th>
      <th scope="col" ng-hide="modal || !currentUser.can('edit data')">Delete</th>
    </tr>
    </thead>
    <tbody class="table-bordered">
    <tr ng-repeat="i in incidents | orderBy:['-idnum']" ng-class="{ item: true, 'bg-gray': i.closed }" ng-click="select(i)" >
      <th scope="row" class="text-center table__checkbox" ng-hide="modal || !currentUser.can('edit data')">
        <div class="td__checkbox">
          <input class="checkbox__input" ng-model="i.selected" type="checkbox" ng-model="i._id"/>
        </div>
      </th>
      <td>
        <strong>{{ i.idnum + 1 | tripleDigit }}</strong>
      </td>
      <td ng-class="modal ? 'modal__incidentTitle' : 'table__incidentTitle'">
        <a ng-hide="modal" href="incidents/{{i._id}}" class="table-primary-link">{{ i.title }}</a>
        <strong ng-show="modal">{{ i.title }}</strong>
        <br />
        <span class="text-muted">{{i.totalReports}} {{'reports' | translate}}</span>
      </td>
      <td ng-class = "modal ? 'modal__location' : 'table__location'">
        <div class="map-marker" ng-show="i.latitude && i.longitude"></div>
        <span ng-if="i.locationName">{{ i.locationName }}</span>
        <span ng-if="!i.locationName && i.latitude && i.longitude">{{ i.latitude | number:6 }}, {{ i.longitude | number:6 }}</span>
      </td>
      <td ng-show="currentUser.can('view other users')"><a href="profile/{{i.assignedTo.username}}">{{ i.assignedTo.username }}</a></td>
      <td ng-show="currentUser.can('view other users')"><a href="profile/{{i.creator.username}}">{{ i.creator.username }}</a></td>
      <td>{{ {false: 'Open', true: 'Closed'}[i.closed] | translate }}</td>
      <td>
        <div ng-if="i.veracity != null">
          <div translate>Confirmed</div>
          <span ng-if="i.veracity" class="text-green" translate>True</span>
          <span ng-if="!i.veracity" class="text-red" translate>False</span>
        </div>
      </td>
      <td class="table__escalated" title="{{'Escalated?' | translate}}">
        <span>{{ {false: 'No', true: 'Yes'}[i.escalated] | translate }}</span>
      </td>
      <td class="td__tags" title="{{'Tags' | translate}}">
        <a ng-controller="SMTCTagSelectModalController" ng-click="setIncidentSMTCTags(i)" class="table-primary-link">
          <strong class="addIdentifier" ng-if="currentUser.can('edit data')" translate>Edit</strong>
        </a>
        <tags class="tagify readonly" tabindex="-1">
          <tag ng-repeat="tag in i.smtcTags" contenteditable="false" spellcheck="false" tabindex="-1"
               class="tags__tag tr__tag tagify__tag tagify" __isvalid="true" value="bar"
               ng-style="{'--tag-bg': smtcTagsById[tag].color}">
            <x title="" ng-click="removeTagFromIncident(i, tag)" class="tagify__tag__removeBtn" role="button" aria-label="remove tag"></x>
            <div>
              <span class="tagify__tag-text">{{smtcTagsById[tag].name}}</span>
            </div>
          </tag>
        </tags>
      </td>
      <td>
        <span class="badge badge-pill badge-secondary mb-2" title="">{{i.updatedAt| interval }} ago</span>
        <br>
        <small>Created: </small>
        <br>
        <small class="time">{{ i.storedAt | aggieDate:'time' }}</small>
        <br>
        <small> {{ i.storedAt | aggieDate:'date' }}</small>
      </td>
      <td ng-hide="modal ||  !currentUser.can('edit data')" class="compact actions align-middle">
        <div class="fa fa-pencil text-blue td__edit fa-lg" ng-controller="IncidentFormModalController" ng-click="edit(i)"></div>
      </td>
      <td ng-hide="modal ||  !currentUser.can('edit data')" class="compact actions align-middle">
        <div class="fa fa-trash text-blue td__delete fa-lg"
             aggie-confirm="{{ 'Are you sure you want to delete this incident?' | translate }}" on-confirm="delete(i)"></div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
