<ng-include src="'/templates/alerts.html'"></ng-include>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-md-9">
      <div class="card shadow-sm">
        <h3 class="card-header">
          <span translate>Profile</span>
        </h3>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4"><i class="fa fa-user" aria-hidden="true"></i> Username</dt>
            <dd class="col-sm-8">{{user.username}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4"><i class="fa fa-group" aria-hidden="true"></i> User Role </dt>
            <dd class="col-sm-8">{{user.role | translate}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4"><i class="fa fa-envelope" aria-hidden="true"></i> User Email </dt>
            <dd class="col-sm-8">
              <a class="email" href="mailto:{{user.email}}">
                {{user.email}}
              </a>
            </dd>
          </dl>
          <div ng-controller="UserFormModalController">
            <a class="btn btn-primary" href ng-click="edit($parent.user)" ng-show="$parent.user.username === $parent.currentUser.username" translate>Edit</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="sticky-top">
        <div class="d-none d-md-block">
          <div ng-include="'/templates/side-statsbar.html'"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <div class="d-md-none">
        <div ng-include="'/templates/bottom-statsbar.html'"></div>
      </div>
    </div>
  </div>
</div>
