<div ng-controller="SMTCTagSelectModalController">
  <div class="modal-header">
    <h5 class="modal-title">
      Edit Incident Tags
    </h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid" ng-show="selectedIncident">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th scope="col" translate>ID#</th>
              <th scope="col" translate>Title</th>
              <th scope="col" translate>Location</th>
              <th scope="col" ng-show="currentUser.can('view other users')" translate>Assigned To</th>
              <th scope="col" ng-show="currentUser.can('view other users')" translate>Created By</th>
              <th scope="col" translate>Status</th>
              <th scope="col" translate>Veracity</th>
              <th scope="col" translate>Escalated?</th>
              <th scope="col" translate>Last Updated</th>
              <th scope="col" translate>Created</th>
            </tr>
          </thead>
          <tbody class="table-bordered">
            <tr ng-class="{ item: true, 'bg-gray': selectedIncident.closed }" ng-click="select(i)" >
              <td>
                <strong>{{ selectedIncident.idnum + 1 | tripleDigit }}</strong>
              </td>
              <td>
                <a ng-hide="modal" href="incidents/{{selectedIncident._id}}" class="table-primary-link">{{ selectedIncident.title }}</a>
                <strong ng-show="modal">{{ selectedIncident.title }}</strong>
                <br />
                <span class="text-muted">{{i.totalReports}} {{'reports' | translate}}</span>
              </td>
              <td ng-class = "modal ? 'modal__location' : 'table__location'">
                <div class="map-marker" ng-show="selectedIncident.latitude && selectedIncident.longitude"></div>
                <span ng-if="selectedIncident.locationName">{{ selectedIncident.locationName }}</span>
                <span ng-if="!selectedIncident.locationName && selectedIncident.latitude && selectedIncident.longitude">
                  {{ selectedIncident.latitude | number:6 }}, {{ selectedIncident.longitude | number:6 }}
                </span>
              </td>
              <td ng-show="currentUser.can('view other users')">
                <a href="profile/{{selectedIncident.assignedTo.username}}">
                  {{ selectedIncident.assignedTo.username }}
                </a>
              </td>
              <td ng-show="currentUser.can('view other users')">
                <a href="profile/{{selectedIncident.creator.username}}">
                  {{ selectedIncident.creator.username }}
                </a>
              </td>
              <td>{{ {false: 'Open', true: 'Closed'}[selectedIncident.closed] | translate }}</td>
              <td>
                <div ng-if="selectedIncident.veracity != null">
                  <div translate>Confirmed</div>
                  <span ng-if="selectedIncident.veracity" class="text-green" translate>True</span>
                  <span ng-if="!selectedIncident.veracity" class="text-red" translate>False</span>
                </div>
              </td>
              <td class="table__escalated" title="{{'Escalated?' | translate}}">
                <span>{{ {false: 'No', true: 'Yes'}[selectedIncident.escalated] | translate }}</span>
              </td>
              <td>
                <span class="badge badge-pill badge-secondary mb-2" title="">
                  {{selectedIncident.updatedAt| interval }} ago
                </span>
              </td>
              <td>
                <small class="time">{{ selectedIncident.storedAt | aggieDate:'time' }}</small>
                <br>
                <small> {{ selectedIncident.storedAt | aggieDate:'date' }}</small>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div ng-hide="smtcTags" ng-if="currentUser.can('edit tags')">
      <span>
        {{"Sorry, but we couldn't find any tags. Please create a tag on the" | translate}}
      </span>
      <a ui-sref="tags" ng-click="close()"> tag page </a>
      <span>{{ "under settings." | translate}}</span>
    </div>
    <div class="container-fluid" ng-show="smtcTags">
      <form>
        <label for="tagifySMTCTags">Add and Remove Tags</label>
        <div class="input-group">
          <input ng-init="tagify()" class="input--tags readonlyMix" name="tagifySMTCTags" id="tagifySMTCTags"/>
        </div>
      </form>
      <p ng-if="currentUser.can('edit tags')" class='info'> {{'If this requires a new tag, ' | translate}}
        <button type="button" class="btn-text" ng-controller="SMTCTagFormModalController" ng-click="create(reports)">
          {{'create a new tag' | translate}}
        </button>.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()" translate>Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save(form)" translate>Submit</button>
  </div>
</div>
