<div ng-controller="SMTCTagSelectModalController">
  <div class="modal-header">
    <h5 class="modal-title">
      Edit Report Tags
    </h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid" ng-show="selectedReport">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th scope="col" translate>Source Info</th>
            <th scope="col" translate>Thumbnail</th>
            <th scope="col" translate>Content</th>
            <th scope="col" translate>Tags</th>
            <th scope="col" translate ng-hide="pageType == 'show-incident'">Incident</th><!-- No need to show incident on incident detail page -->
          </tr>
          </thead>
          <tbody class="table-bordered">
          <tr ng-class="{ item: true, 'bg-gray': selectedReport.read, flagged: selectedReport.flagged, unread: !selectedReport.read && !selectedReport.flagged }">
            <td class="td__sourceInfo">
              <span class="badge badge-pill badge-secondary mb-2" title="{{ selectedReport.storedAt | aggieDate:'date' }} at {{ selectedReport.storedAt | aggieDate:'short_time' }}">{{ selectedReport.storedAt | interval }} ago</span>
              <p class="sourceInfo__author">
                <i class="fa fa-user-circle-o author__icon" aria-hidden="true"></i>
                {{ selectedReport.author }}
              </p>
              <span>
            <span ng-repeat="s in selectedReport._sources">
            {{ sourcesById[s].nickname || '[Deleted]' }}
            </span>
            <i ng-if="selectedReport.metadata.ct_tag" class="fa fa-angle-right" aria-hidden="true"></i>
            <span ng-if="selectedReport.metadata.ct_tag">{{typeof(selectedReport.metadata.ct_tag) === "string" ? selectedReport.metadata.ct_tag : selectedReport.metadata.ct_tag.join(', ')}}</span>
          </span>
              <!--<small class="text-wrap">{{ r.storedAt | aggieDate:'short_time' }}</small>
              <small>{{ r.storedAt | aggieDate:'date' }}</small>-->
              <!--<p class="created"><span>{{ r | delay }}</span></p>-->
              <!--<div class="icon-left" ng-class="sourceClass(r)"></div>-->
            </td>
            <td class="thumbnail-image" ng-class="{ strong: !isRead(selectedReport) }">
              <div ng-repeat="media in selectedReport.metadata.mediaUrl">
                <a ng-if="media.type==='photo'" ng-href="{{selectedReport.metadata.externalUrl}}" target="_blank">
                  <img class="img-fluid img-thumbnail" ng-src="{{media.url}}" >
                </a>
              </div>
            </td>
            <td class="td__content" ng-class="{ strong: !isRead(selectedReport) }">
              <p class="content__originalPost" ng-if="selectedReport.commentTo"><b>Original Post: </b>{{ (selectedReport.originalPost || '[No Content]') | stripHtml }}<a class="content__originalLink" href="/reports/{{selectedReport.commentTo}}">...see report details</a></span></p>
              <a href="/reports/{{selectedReport._id}}">
                <p class="content" ng-if="!selectedReport.commentTo"> {{ (selectedReport.content || '[No Content]') | stripHtml }} </p>
                <p class="content__shared" ng-if="selectedReport.metadata.description && !selectedReport.commentTo">
                  {{selectedReport.metadata.description | stripHtml}}
                </p>
                <ul class="fa-ul" ng-if="selectedReport.commentTo">
                  <li><span class="fa-li"><i class="fa fa-comment comment__icon" aria-hidden="true"></i></span><p class="content__comment">{{ (selectedReport.content || '[No Content]') | stripHtml }}</p></li>
                </ul>
              </a>
            </td>
            <td class="tags text-center">
              <tags class="tagify readonly" tabindex="-1">
                <tag ng-repeat="tag in selectedReport.smtcTags" contenteditable="false" spellcheck="false" tabindex="-1"
                     class="tags__tag tr__tag tagify__tag tagify" __isvalid="true" value="bar" ng-style="{'--tag-bg': smtcTagsById[tag].color}">
                  <div>
                    <span class="tagify__tag-text">{{smtcTagsById[tag].name}}</span>
                  </div>
                </tag>
              </tags>
            </td>
            <td class="td__incident align-middle" ng-hide="pageType == 'show-incident'">
              <div class="text-center">
                <strong>{{ incidentsById[selectedReport._incident].title }}</strong>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div ng-hide="smtcTags" ng-if="currentUser.can('edit tags')">
      <span>{{"Sorry, but we couldn't find any tags. Please create a tag on the" | translate}}
      </span>
      <a ui-sref="tags" ng-click="close()"> tag page </a>
      <span>{{ "under settings." | translate}}</span>
    </div>
    <div class="container-fluid" ng-show="smtcTags">
      <form>
        <label for="tagifySMTCTags">Add and Remove Tags</label>
        <div class="input-group">
          <input ng-init="tagify()" class="input--tags readonlyMix" name="tagifySMTCTags" id="tagifySMTCTags"/>
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" ng-click="removeAllTags()" translate> Clear Tags </button>
          </div>
        </div>
      </form>
      <p ng-if="currentUseselectedReport.can('edit tags')" class='info'> {{'If this requires a new tag, ' | translate}}
        <button type="button" class="btn-text" ng-controller="SMTCTagFormModalController" ng-click="create(reports)">{{'create a new tag' | translate}}</button>.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()" translate>Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save(form)" translate>Submit</button>
  </div>
</div>
