<div ng-controller="SMTCTagFormModalController">
  <div class="modal-header">
    <h5 class="modal-title">
      <span class="icon-left" ng-show="smtcTag._id == null" translate>Create Tag</span>
      <span class="icon-left" ng-show="smtcTag._id != null" translate>Edit Tag</span>
    </h5>
    <button class="close" ng-click="close()" aria-hidden="true">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" ng-show="message" translate>{{message}}</div>
    <form name="form" class="mt-2" novalidate>
      <fieldset>
        <div class="form-group">
          <label for="tagName" translate>Tag Name</label>
          <input type="text" class="form-control" id="tagName" required maxlength="15" ng-model="smtcTag.name">
          <small class="input-group-addon"><span ng-show="smtcTag.name.length">{{15 - smtcTag.name.length}}</span></small>
          <small ng-show="!smtcTag.name.length && showErrors" class="input-group-addon"><span class="text-muted">
            {{ "Please provide a name" | translate}}
          </span></small>
        </div>
        <div class="form-group">
          <label for="tagColor" translate>Tag Color</label>
          <br>
          <input ng-init="spectrumify()" type="text" class="form-control" id="tagColor" required ng-model="smtcTag.color">
          <small ng-show="!smtcTag.color.length && showErrors" class="text-muted">
            A color must be specified.
          </small>
        </div>
        <div class="form-group">
          <label for="tagIsCommentTag" translate>Does tag enable comments?</label>
          <input type="checkbox" class="form-control" id="tagIsCommentTag" ng-model="smtcTag.isCommentTag">
        </div>
        <div class="form-group">
          <label for="tagDescription">Tag Description</label>
          <textarea class="form-control" id="tagDescription" rows="3" ng-model="smtcTag.description"></textarea>
        </div>
        <div class="form-group text-center">
          <label for="tagIsCommentTag" translate>Tag enables comment acquisition on posts?</label>
          <input type="checkbox" class="form-control" id="tagIsCommentTag" ng-model="smtcTag.isCommentTag">
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()" translate>Close</button>
    <button type="button" class="btn btn-primary" ng-click="save(form)" translate>Submit</button>
  </div>
</div>
