<div ng-controller="SMTCTagSelectModalController">
  <div class="modal-header">
    <h5 class="modal-title">
      Edit Report Tags
    </h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid" ng-show="selectedReport">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th scope="col" translate>Time</th>
            <th scope="col" translate>Thumbnail</th>
            <th scope="col" translate>Author</th>
            <th scope="col" translate>Content</th>
            <th scope="col" translate>Sources</th>
            <th scope="col" translate>Incident</th><!-- No need to show incident on incident detail page -->
            <th scope="col" translate>Flagged</th>
          </tr>
        </thead>
        <tbody class="table-bordered">
          <tr ng-class="{ item: true, 'bg-gray': selectedReport.read, flagged: selectedReport.flagged, unread: !selectedReport.read && !selectedReport.flagged }">
            <td class="td--time">
              <span class="badge badge-info">{{ selectedReport.storedAt | interval }} ago</span>
              <div class="text-wrap">{{ selectedReport.storedAt | aggieDate:'short_time' }}</div>
              <div>{{ selectedReport.storedAt | aggieDate:'date' }}</div>
              <!--<p class="created"><span>{{ r | delay }}</span></p>-->
            </td>
            <td class="thumbnail-image" ng-class="{ strong: !isRead() }">
              <div ng-repeat="media in selectedReport.metadata.mediaUrl">
                <a ng-if="media.type==='photo'" ng-href="{{selectedReport.metadata.externalUrl}}" target="_blank">
                  <img class="img-fluid img-thumbnail" ng-src="{{media.url}}" >
                </a>
              </div>
            </td>
            <td class="author" ng-class="{ strong: !isRead() }">
              <span class="text-wrap">
                {{ selectedReport.author }}
              </span>
            </td>
            <td class="content" ng-class="{ strong: !isRead() }">
              <a ng-click="close()" href="/reports/{{selectedReport._id}}">
                <p class="text-wrap"> {{ (selectedReport.content || '[No Content]') | stripHtml }} </p>
                <p class="text-wrap shared-content" ng-if="selectedReport.metadata.description">
                  {{selectedReport.metadata.description | stripHtml}}
                </p>
              </a>
            </td>
            <td class="source text-center align-middle" ng-class="{ strong: !isRead(r) }">
              <div class="icon-left" ng-class="sourceClass()">
              </div>
              <span ng-repeat="s in selectedReport._sources" class="source text-wrap pb-2">
                {{ sourcesById[s].nickname || '[Deleted]' }}
              </span>
            </td>
            <td class="incident align-middle" ng-hide="pageType == 'show-incident'">
              <div class="text-center">
                <span>
                  <strong class="text-wrap" ng-if="selectedReport._incident && incidentsById[selectedReport._incident]">
                      {{ incidentsById[selectedReport._incident].title | strLimit: 40 }}
                    </strong>
                </span>
              </div>
            </td>
            <td class="flagged text-center">
              <div class="fa pointer td__flags" ng-class="selectedReport.flagged ? 'fa-flag' : 'fa-flag-o'"
                   ng-click="currentUser.can('edit data') && toggleFlagged()">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-hide="smtcTags" ng-if="currentUser.can('edit tags')">
      <span>{{"Sorry, but we couldn't find any tags. Please create a tag on the" | translate}}
      </span>
      <a ui-sref="tags" ng-click="close()"> tag page </a>
      <span>{{ "under settings." | translate}}</span>
    </div>
    <div class="container-fluid" ng-show="smtcTags">
      <form>
        <label for="tagifySMTCTags">Add and Remove Tags</label>
        <div class="input-group">
          <input ng-init="tagify()" class="input--tags readonlyMix" name="tagifySMTCTags" id="tagifySMTCTags"/>
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" ng-click="removeAllTags()" translate> Clear Tags </button>
          </div>
        </div>
      </form>
      <p ng-if="currentUseselectedReport.can('edit tags')" class='info'> {{'If this requires a new tag, ' | translate}}
        <button type="button" class="btn-text" ng-controller="SMTCTagFormModalController" ng-click="create(reports)">{{'create a new tag' | translate}}</button>.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()" translate>Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save(form)" translate>Submit</button>
  </div>
</div>
