<table class="table">
  <thead>
  <tr>
    <th scope="col" translate>Tag Name</th>
    <th scope="col" translate>Color</th>
    <th scope="col" translate ng-if="currentUser.can('view other users')">Created By</th>
    <th scope="col" translate>Description</th>
    <th scope="col" translate>Tag Enables Comment Acquisition on Posts?</th>
    <th scope="col" translate ng-if="currentUser.can('edit tags')">Edit</th>
    <th scope="col" translate ng-if="currentUser.can('edit tags')">Delete</th>
  </tr>
  </thead>
  <tbody class="table-bordered table-condensed">
    <tr ng-repeat="smtcTag in smtcTags">
      <th ng-click="logTag(smtcTag)" class="content"><strong><h6>{{ smtcTag.name }}</h6></strong></th>
      <td>
        <input type="text" class="form-control" ng-style="{'background-color': smtcTag.color}"disabled/>
      </td>
      <td ng-if="currentUser.can('view other users')">
        <a href="profile/{{smtcTag.user.username}}">{{smtcTag.user.username}}</a>
      </td>
      <td>
        {{smtcTag.description}}
      </td>
      <td ng-if="currentUser.can('edit tags')">
        <input type="checkbox" class="form-control" disabled ng-checked="smtcTag.isCommentTag">
      </td>
      <td ng-if="currentUser.can('edit tags')" class="align-middle text-center">
        <div ng-controller="SMTCTagFormModalController" class="fa fa-pencil text-blue td__edit fa-lg" ng-click="edit(smtcTag)"></div>
      </td>
      <td ng-if="currentUser.can('edit tags')" class="align-middle text-center">
        <div class="fa fa-trash text-blue td__delete fa-lg" aggie-confirm="{{ 'Are you sure you want to delete this tag? You cannot revert this action.' | translate }}" on-confirm="deleteSMTCTag(smtcTag)"></div>
      </td>
    </tr>
  </tbody>
</table>

