ENVIRONMENT=development
DATABASE_URL=mongodb://localhost:27017/
DATABASE_NAME=aggie
REACT_APP_BASE_URL=http://localhost:3000/
REACT_APP_PORT=8000
SENDGRID_API_KEY=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
ADMIN_PARTY=false
SECRET=Hello