# Ignore minified files
**/*.min.js

# Don't lint vendor/
public/angular/vendor
test/public/vendor

# Ignore imported client-side modules
public/angular/js/Autolinker.min.js
public/angular/js/angular-resource.js
public/angular/js/angular-sanitize.js
public/angular/js/angular-translate.js
public/angular/js/angular-ui-router.js
public/angular/js/angular.js
public/angular/js/bootstrap-datetimepicker.js
public/angular/js/bootstrap.js
public/angular/js/canvasjs.min.js
public/angular/js/jquery.sparkline.js
public/angular/js/loading-bar.js
public/angular/js/moment.js
public/angular/js/ui-bootstrap-templates.js
public/angular/js/ui-bootstrap.js
