lib-cov
*.seed
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
*.map

pids
logs
results
tmp

# Python
venv/
*.pyc

npm-debug*
node_modules
fiddle
.idea
.vscode/settings.json
*.iml
.DS_Store
Thumbs.db
.c9revisions
.settings
server-prefs.json

migrations/.migrate
.migrate

public/css/styles.css
public/angular/css/app.css
public/angular/js/app.min.js
public/angular/translations/locale-debug.json
lib/translations/locale-debug.json

config/secrets.json
# We can't directly ignore config/crowdtangle_list.json, instead:
# git update-index --skip-worktree config/crowdtangle_list.json

hate-speech-api/*.log

buildAssets
docs/_build

NOTES

data

config/cert.pem
config/key.pem

