lib-cov
*.seed
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
*.map

pids
logs
results
tmp

# Python
venv/
*.pyc

npm-debug*
node_modules
fiddle
.idea
.vscode/settings.json
*.iml
.DS_Store
Thumbs.db
.c9revisions
.settings
server-prefs.json

backend/migrations/.migrate
.migrate

public/css/styles.css
public/angular/css/app.css
public/angular/js/app.min.js
public/angular/translations/locale-debug.json
backend/translations/locale-debug.json
hate-speech-api/error.log

hate-speech-api/*.log

buildAssets
docs/_build

NOTES

data

backend/config/secrets.json
backend/config/cert.pem
backend/config/key.pem
backend/config/crowdtangle_list.json

docs/_build

.vscode/settings.json
