lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.log

pids
logs
results
tmp

npm-debug.log
node_modules
fiddle
.idea
*.iml
.DS_Store
Thumbs.db
.c9revisions
.settings
run-tests.sh
migrations/.migrate

public/css/styles.css
public/angular/css/app.css
public/angular/js/app.min.js
config/secrets.json

buildAssets

NOTES
