<div ng-controller="SourceFormModalController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 class="modal-title">Create Source</h4>
  </div>
  <div class="modal-body">
    <div class="well bs-component">
      <form name="form" class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for="nickname" class="col-lg-3 control-label">Nickname</label>
            <div class="col-lg-6">
              <input type="text" ng-model="source.nickname"
                class="form-control" id="nickname"
                name="nickname" placeholder="Enter nickname" required>
            </div>
          </div>
          <div class="form-group">
            <label for="type" class="col-lg-3 control-label">Type</label>
            <div class="col-lg-6">
              <select name="type" ng-model="source.type" ng-options="s for s in sourceTypes" required>
                <option value="">Choose source type</option>
              </select>
            </div>
          </div>
          <div class="form-group" ng-show="source.type == 'twitter'">
            <label for="keywords" class="col-lg-3 control-label">Keywords</label>
            <div class="col-lg-6">
              <input type="text" ng-model="source.keywords"
                class="form-control" id="keywords"
                name="keywords" placeholder="Enter keywords">
            </div>
          </div>
          <div class="form-group" ng-show="source.type != 'twitter'">
            <label for="url" class="col-lg-3 control-label">URL</label>
            <div class="col-lg-6">
              <input type="text" ng-model="source.url"
                class="form-control" id="url"
                name="url" placeholder="Enter url">
            </div>
          </div>
          <div ng-show="form.nickname.$invalid">Invalid:
            <span ng-show="form.nickname.$error.required">Nickname required.</span>
          </div>
          <div ng-show="form.keywords.$invalid">Invalid:
            <span ng-show="form.keywords.$error.required">Keywords required.</span>
          </div>
          <div ng-show="form.url.$invalid">Invalid:
            <span ng-show="form.url.$error.required">URL required.</span>
          </div>
          <div ng-show="form.type.$invalid">Invalid:
            <span ng-show="form.type.$error.required">Type required.</span>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
      ng-click="close()">Close</button>
    <button type="button" class="btn btn-primary"
      ng-click="okay()">Submit</button>
  </div>
</div>
