<div ng-controller="SourceFormModalController">
  <div class="modal-header">
    <button class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 class="modal-title">
      <div class="source" ng-class="sourceClass(source)">
        <div class="icon-left">&nbsp;{{ source._id ? 'Edit' : 'Create' | translate }} {{ 'Source' | translate }}</div>
    </h4>
  </div>
  <div class="modal-body">
    <div class="well bs-component">
      <form name="form" class="form-horizontal">
        <fieldset>
          <div class="form-group" ng-class="{ 'read-only': source._id }">
            <label for="media" class="col-lg-2 control-label" translate>Media</label>
            <div class="col-lg-8">
              <select name="media" class="form-control" ng-model="source.media" ng-options="media as media | translate for media in mediaOptions" required ng-hide="source._id">
                <option value="" translate>Choose source media</option>
              </select>
              <input type="text" class="form-control" ng-model="source.media" ng-show="source._id" readonly>
              <div class="has-error" ng-show="showErrors()">
                <div class="help-block" ng-show="form.media.$error.required" translate>Media is required.</div>
              </div>
              <div ng-show="source.media == 'whatsapp'">
                <div class="help-block" translate="sources_modal.whatsapp_help"></div>
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="source.media">
            <label for="nickname" class="col-lg-2 control-label" translate>Nickname</label>
            <div class="col-lg-8">
              <div class="input-group">
                <input type="text" ng-model="source.nickname" class="form-control" id="nickname" name="nickname" placeholder="{{ 'Enter a nickname' | translate }}" required maxlength="20" ng-focus>
                <span class="input-group-addon"><span ng-show="source.nickname.length && form.nickname.$focused">{{20 - source.nickname.length}}</span></span>
              </div>
              <div class="help-block" translate>A short name for this source.</div>
              <div class="has-error" ng-show="showErrors() && form.nickname.$invalid">
                <div class="help-block" ng-show="form.nickname.$error.required" translate>Nickname is required.</div>
              </div>
            </div>
          </div>

          <div class="form-group" ng-show="source.media == 'smsgh' || source.media == 'twitter' || source.media == 'whatsapp' ">
            <label for="keywords" class="col-lg-2 control-label" translate>Keywords</label>
            <div class="col-lg-8">
              <textarea ng-model="source.keywords" class="form-control" id="keywords" name="keywords" placeholder="{{ 'Enter keywords' | translate }}" ng-required="source.media == 'twitter'">
              </textarea>
              <div ng-show="source.media == 'twitter'" class="help-block" translate="sources_modal.help"></div>
              <div class="has-error" ng-show="showErrors() && form.keywords.$invalid">
                <div class="help-block" ng-show="form.keywords.$error.required">Keywords are required for twitter sources.</div>
              </div>
            </div>
          </div>

          <div class="form-group" ng-show="source.media && source.media != 'twitter' && source.media != 'smsgh' && source.media != 'whatsapp'">
            <label for="url" class="col-lg-2 control-label" translate>URL</label>
            <div class="col-lg-8">
              <div class="input-group">
                <div ng-switch="source.media">
                  <input type="url" ng-model="source.url" ng-switch-when="facebook" ng-pattern="/https?:\/\/www\.facebook\.com\//" class="form-control" id="url" name="url" ng-required="source.media != 'twitter'" ng-focus>
                  <input type="url" ng-model="source.url" ng-switch-default class="form-control" id="url" name="url" placeholder="{{ 'Enter url' | translate }}" ng-init="sourceUrl(source)" ng-required="!(source.media == 'twitter' || source.media == 'smsgh' || source.media == 'whatsapp')" ng-focus>
                </div>
                <div class="input-group-addon"><span ng-show="form.url.$focused && !form.url.$invalid" class="fa fa-check"></span></div>
              </div>
              <div class="help-block" ng-switch="source.media">
                <span ng-switch-when="rss" translate="sources_modal.rss_url"></span>
                <span ng-switch-when="facebook" translate="sources_modal.facebook_url"></span>
                <span ng-switch-when="elmo" translate="sources_modal.elmo_url"></span>
              </div>
              <div class="has-error" ng-show="showErrors() && form.url.$invalid">
                <div class="help-block" ng-show="form.url.$error.required" translate>URL is required.</div>
                <div class="help-block" ng-show="form.url.$dirty && !form.url.$error.required" translate>URL is invalid.</div>
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="source.media">
            <label for="tags" class="col-lg-2 control-label" translate>Tags</label>
            <div class="col-lg-8">
              <input ng-model="source.tags" ng-list class="form-control" id="tags" name="tags" placeholder="{{ 'Enter tags' | translate }}">
              </input>
              <div class="help-block" translate="sources_modal.tags"></div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()" translate>Close</button>
    <button class="btn btn-primary" ng-click="save(form)" translate>Submit</button>
  </div>
</div>
