<nav class="source-nav" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a ui-sref="sources" translate>Sources</a></li>
    <li class="breadcrumb-item active">{{ source.nickname }}</li>
  </ol>
</nav>

<ng-include src="'/templates/alerts.html'"></ng-include>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header card__header">
          <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with Source Edit Buttons" ng-show="currentUser.can('edit data')">
            <div class="btn-group">
              <button type="button" ui-sref="sources" class="btn btn-default">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="btn-group">
              <div class="mr-2">
                <button type="button" ng-controller="SourceFormModalController" class="btn btn-info" ng-click="edit()" translate>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </div>
              <div>
                <button type="button" class="btn btn-info" aggie-confirm="{{ 'Are you sure you want to delete this source?' | translate }}" on-confirm="delete()">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title" translate>Source Details</h5>
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <th scope="row" translate>Name</th>
                <td>{{ source.nickname }}</td>
              </tr>
              <tr>
                <th scope="row" translate>Media</th>
                <td class="detail-value">{{source.media | translate}}</td>
              </tr>
              <tr>
                <th scope="row" translate>Target</th>
                <td class="detail-value">
                  <span ng-switch="source.media">
                    <span ng-when="twitter">{{source.keywords}}</span>
                    <span ng-switch-default><a href="{{source.url}}" target="_blank">{{source.url}}</a></span>
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row" translate>Tags</th>
                <td class="detail-value">{{ tagsToString(source.tags) }}</td>
              </tr>
              <tr>
                <th scope="row" translate>Enabled</th>
                <td class="detail-value">{{ source.enabled ? 'Yes' : 'No' | translate }}</td>
              </tr>
            </tbody>
          </table>
          <br/>
          <h5 class="card-title" translate>Recent Events</h5>
          <p ng-hide="source.events.length > 0" translate>There are no events to display.</p>
          <div ng-show="source.events.length > 0">
            <div class="table-responsive-sm">
              <table class="table" ng-show="source.events.length > 0">
                <thead>
                  <tr>
                    <th scope="col" translate>Time</th>
                    <th scope="col" translate>Level</th>
                    <th scope="col" translate>Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="e in source.events | orderBy:'-datetime'" ng-class="{ unread: $index < source.unreadErrorCount }">
                    <td class="td--eventTime">{{ e.datetime | aggieDate:'datetime' }}</td>
                    <td class="td--eventType text-capitalize">{{ e.type }}</td>
                    <td class="td--eventMessage">{{ e.message }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="sticky-top">
        <div class="d-none d-md-block">
          <div ng-include="'/templates/side-statsbar.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
