<div class="table-responsive">
  <table class="table" aggie-table ng-show="sources.length > 0">
    <thead>
      <tr>
        <th scope="col" translate>Media</th>
        <th scope="col" translate>Name</th>
        <th scope="col" translate ng-show="currentUser.can('view other users')">Creator</th>
        <th scope="col" translate>Target</th>
        <th scope="col" translate>Tags</th>
        <th scope="col" translate ng-show="currentUser.can('edit data')">New Warnings</th>
        <th scope="col" translate ng-show="currentUser.can('edit data')">Enabled</th>
      </tr>
    </thead>
    <tbody class="table-bordered">
      <tr ng-repeat="s in sources | orderBy:'+nickname'">

        <td class="source" ng-class="sourceClass(s)">
          <div class="icon-left"></div>
        </td>

        <td class="source content">
          <a href="sources/{{s._id}}" class="table-primary-link">
            {{ s.nickname }}
          </a>
        </td>

        <td class="content" ng-show="currentUser.can('view other users')">
          <a href="profile/{{s.user.username}}">{{ s.user.username }}</a>
        </td>

        <td class="content">
          <span>{{ target(s) }}</span>
        </td>

        <td class="tag">
          <span>{{ tagsToString(s.tags) }}</span>
        </td>

        <td class="content zero-errors" ng-show="currentUser.can('edit data')"
            ng-class="{ 'multiple-errors': s.unreadErrorCount > 0 }">{{ s.unreadErrorCount }}
        </td>

        <td class="status" ng-show="currentUser.can('edit data')">
          <aggie-toggle toggle="s.enabled" options="{ true: 'On', false: 'Off' }" on-change="saveSource(s)">
        </td>
      </tr>
    </tbody>
  </table>
</div>
