.btn {
  text-decoration: none;
  line-height: 15px;
  height: 25px;
  padding: 4px 8px;
  font-size: 12px;

  &.highlight {
    color: #000;
  }

  &:focus, &:active:focus {
    outline: none;
  }
}

// This is the primary call to action button. Defined in the bootstrap theme.
.btn-primary {}

// This is a secondary weight button. Also defined in bootstrap.
.btn-info {}

// Overriding the tertiary button to gray color.
.btn-default {
  background-color: #ebeced;
  color: #000;
  &:hover {
    background-color: #d1d3d4;
  }
}

.button-row {
  .btn {
    min-width: 100px;
  }
}

// A button that looks like a link.
.btn-text {
  padding: 0;
  border: none;
  background: none;
  color: rgb(25,181,217);
}

.modal-footer .btn {
  font-size: 14px;
  height: 35px;
  width: 100px;
}
