<ng-include src="'/templates/alerts.html'"></ng-include>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col"></div>
    <div class="col-xl-10">
      <div class="card viz-padding">
        <div class="card-header card__header">
          <h4 class="card-title mb-0">Analysis</h4>
        </div>
        <div class="viz-content">
          <h1>Analytics for the past 48 hours</h1>
          <div class="chart has-tooltip" id="reports"></div>
          <div ng-if="numSources > 0" class="chart has-tooltip" id="sources"><div ng-init="initSourceBar()"></div></div>
          <div class="stat-cards">
            <div class="stat-card">
              <div class="stat-cart__value">{{reports.length}}</div>
              <div class="stat-cart__label">Reports in past 48 hours</div>
            </div>
            <div class="stat-card">
              <div class="stat-cart__value">{{incidentReports.length}}</div>
              <div class="stat-cart__label">Identified as Hate Speech</div>
            </div>
          </div>
          <div ng-if="incidentReports.length > 0" class="chart has-tooltip" id="reports-hs-actual">
            <div ng-init="initIncidentGraph()"></div></div>
          <div ng-if="algHateSpeech.length > 0" class="chart has-tooltip" id="reports-hs">
            <div ng-init="initHateSpeechGraph()"></div></div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col text-center">
          <div class="d-xl-none">
            <div ng-include="'/templates/bottom-statsbar.html'"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Right Hand Stats Bar -->
      <div class="sticky-top">
        <div class="d-none d-xl-block">
          <div ng-include="'/templates/side-statsbar.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
