<ng-include src="'/templates/alerts.html'"></ng-include>
<div class="viz-content">
  <div class="stat-cards">
    <div class="data-card total-reports">
      <div class="data-card__title" translate>Total Reports</div>
      <div class="data-card__value">{{stats.totalReports | number}}</div>
    </div>
    <div class="data-card recent-reports">
      <div class="data-card__title" translate>Reports in the last 48hrs</div>
      <div class="data-card__value">{{data.length | number}}</div>
    </div>
  </div>
  <div class="report-graph" id="report-graph"></div>
  <div class="tags-hist" id="tags-hist"></div>
  <div class="expected-explanation" translate>
    *Expected statistics based on Facebook's prediction model at time of retrieval.
  </div>
  <div id="most-stats"></div>
</div>
<div class="row mt-4">
  <div class="col text-center">
    <div class="d-md-none">
      <div ng-include="'/templates/bottom-statsbar.html'"></div>
    </div>
  </div>
</div>

