<h1 translate>Set a password for your account</h1>
<p translate>Remember that the password has to be at least {{ passwordMinLength }} characters long.</p>
<div class="well bs-component">
  <form class="form-horizontal" ng-submit="resetPassword()">
    <fieldset>
      <div class="form-group">
        <label for="password" class="col-lg-2 control-label" translate>Password</label>
        <div class="col-lg-3">
          <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="{{'Password' | translate}}">
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': user.password != user.password_confirmation }">
        <label for="password_confirmation" class="col-lg-2 control-label" translate>Password Confirmation</label>
        <div class="col-lg-3">
          <input type="password" ng-model="user.password_confirmation" class="form-control" id="password_confirmation" placeholder="{{'Password Confirmation' | translate}}">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="button" ng-click="cancel()" class="btn btn-default" translate>Cancel</button>
          <button type="submit" class="btn btn-primary" translate>Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
