<div class="modal-header">
  <h5 class="modal-title" translate>Confirm</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" translate>{{message}}</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="confirm()" translate>Confirm</button>
</div>

