<div>
  <div class="modal-header">
    <h4 class="modal-title">
      CSV Export
    </h4>
    <button class="close" ng-click="close()" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="afterDate" class="time-control-label" translate>From:</label>
      <div class="input-group date" id="datetimepickerAfter" data-target-input="nearest">
        <input id="afterDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepickerAfter" ng-model="times.after"
               placeholder="{{ 'Start date / Time' | translate }}" name="after"/>
        <div class="input-group-append" data-target="#datetimepickerAfter" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="beforeDate" class="time-control-label" translate>To:</label>
      <div class="input-group date" id="datetimepickerBefore" data-target-input="nearest">
        <input id="beforeDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepickerBefore" ng-model="times.before"
               placeholder="{{ 'End date / Time' | translate }}" name="before"/>
        <div class="input-group-append" data-target="#datetimepickerBefore" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" aggie-confirm="settings.widget.settingsModal.confirm_delete"
            on-confirm="delete(item, settings)">
      {{ 'Delete' | translate }}
    </button>
    <button class="btn btn-default" ng-click="close()" translate>Cancel</button>
    <button class="btn btn-primary" ng-disabled="settingsForm.$invalid" ng-click="download(times.before,times.after)" translate>Export</button>
  </div>
</div>

<!-- This allows the datetimepicker to restrict the range of the picked dates-->
<!-- ML2020 I'm not a fan of <script> tags but I literally don't know how to do this any other way-->
  <script type="text/javascript">
    $('#datetimepickerAfter').datetimepicker({
      format: 'YYYY-MM-DDTHH:mm'
    });
    $('#datetimepickerBefore').datetimepicker({
      format: 'YYYY-MM-DDTHH:mm'
    });
    $(function () {
      $('#datetimepickerAfter').datetimepicker();
      $('#datetimepickerBefore').datetimepicker({
        useCurrent: false
      });
      $("#datetimepickerAfter").on("change.datetimepicker", function (e) {
        $('#datetimepickerBefore').datetimepicker('minDate', e.date);
      });
      $("#datetimepickerBefore").on("change.datetimepicker", function (e) {
        $('#datetimepickerAfter').datetimepicker('maxDate', e.date);
      });
    });
  </script>