<div ng-controller="DatetimeModalController">
  <div class="modal-header">
    <button class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 class="modal-title">Date Filters</h4>
  </div>
  <div class="modal-body">
    <div class="well bs-component">
      <form name="form" class="form-horizontal">
        <fieldset>
          <div class="row form-group">
            <label for="type" class="col-lg-1 control-label">From:</label>
            <div class="col-lg-4">
              <input type="text" aggie-datepicker ng-model="datetimes.after" placeholder="mm/dd/yyyy HH:mm:ss" data-date-format="MM/DD/YYYY HH:mm:ss">
            </div>
            <label for="type" class="col-lg-1 control-label">To:</label>
            <div class="col-lg-4">
              <input type="text" aggie-datepicker ng-model="datetimes.before" placeholder="mm/dd/yyyy HH:mm:ss" data-date-format="MM/DD/YYYY HH:mm:ss">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" ng-click="okay()">Submit</button>
  </div>
</div>
