<div>
  <div class="modal-header">
    <button class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 class="modal-title">
      <div class="transport">
        <div translate>Edit Email Transport Settings</div>
    </h4>
    </div>
    <div class="modal-body">
      <div class="well bs-component">
        <form name="form" class="form-horizontal" novalidate>
          <fieldset>
            <div class="form-group">
              <label for="transport" class="col-lg-3 control-label" translate>Transport</label>
              <div class="col-lg-8">
                <select name="method" class="form-control" ng-model="transport.method"
                          ng-options="name as name for (name, settings) in emailTransportOptions">
                  <option value="" translate>Choose transport method</option>
                </select>
                <div class="has-error" ng-show="showErrors()">
                  <div class="help-block" ng-show="form.method.$error.required" translate>Select transport first</div>
                </div>
              </div>
            </div>

            <div class="form-group" ng-repeat="setting in emailTransportOptions[transport.method]">
              <label for="{{ setting }}" class="col-lg-3 control-label">{{ setting }}</label>
              <div class="col-lg-8">
                <div ng-if="!(setting === 'secure' && transport.method === 'SMTP')">
                  <input type="text" ng-model="transport.options[setting]" class="form-control"
                         id="{{ setting }}" name="{{ setting }}" placeholder="{{ transport.options[setting] }}"
                         required size="80" maxlength="120"/>
                </div>
                <div ng-if="setting === 'secure' && transport.method === 'SMTP'">
                  <input type="checkbox" ng-model="transport.options[setting]" class="form-control"
                         id="{{ setting }}" name="{{ setting }}"/>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="close()" translate>Close</button>
      <button class="btn btn-primary" ng-click="save()" translate>Submit</button>
    </div>
  </div>
</div>
