<div>
  <div class="modal-header">
    <h4 class="modal-title">
      <div class="transport">
        <div translate>Edit Email Transport Settings</div>
      </div>
    </h4>
    <button class="close" ng-click="close()" aria-hidden="true" aria-label="Close Email Modal">×</button>
    </div>
    <div class="modal-body">
      <div class="well bs-component">
        <form name="form" class="form-horizontal" novalidate>
          <fieldset>
            <div class="form-group">
              <label for="transport" class="control-label" translate>Transport</label>
              <select id="method" name="method" class="form-control" ng-model="transport.method" ng-options="m as m | translate for m in emailTransportOptions" required>
                <option value="" translate>Choose transport method</option>
              </select>
              <div class="has-error" ng-show="showErrors()">
                <div class="help-block" ng-show="form.method.$error.required" translate>Select transport first</div>
              </div>
            </div>

            <div class="form-group">
              <label for="credentials" translate>Credentials</label>
              <select id="credentials" name="credentials" class="form-control" ng-model="transport.credentials" ng-options="c as c.name | translate for c in filteredCredentials track by c._id" required>
                <option value="" translate>Choose email credentials</option>
              </select>
              <div class="has-error" ng-show="showErrors()">
                <small class="" ng-show="form.credentials.$error.required" translate>Credentials are required.</small>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="close()" translate>Close</button>
      <button class="btn btn-primary" ng-click="save(form)" translate>Submit</button>
    </div>
  </div>
</div>
