<h1 translate>Log in</h1>

<div class="well bs-component">
  <form class="form-horizontal" ng-submit="login(form)">
    <fieldset>
      <div class="form-group">
        <label for="username" class="col-lg-2 control-label" translate>Username</label>
        <div class="col-lg-3">
          <input type="text" ng-model="user.username" class="form-control" id="username" placeholder="{{'Enter username' | translate}}">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-lg-2 control-label" translate>Password</label>
        <div class="col-lg-3">
          <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="{{'Enter password' | translate}}">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary" translate>Log in</button>
          <br/><br/>
          <div ng-controller="PasswordResetModalController">
            <a href="#" ng-click="open()" translate>Forgot password?</a>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
