<h1>Login</h1>

<form class="form-horizontal" ng-submit="login(form)">
  <fieldset>
    <div class="form-group">
      <label for="username" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-3">
        <input type="text" ng-model="user.username" class="form-control" id="username" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-3">
        <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
