<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-default" ng-controller="NavbarController">
  <!--This is the Left Side of the NavBar -->
  <a class="aggie-brand" aria-label="Reports Page" ng-href="{{ $state.includes('reset_admin_password')? '/reset_admin_password' : '/' }}">
    <div class="navbar-brand"></div>
  </a>
  <!-- This is the button for the collapsed nav content -->
  <button class="navbar-toggler"  ng-show="currentUser" type="button" data-toggle="collapse" data-target="#navbarLeft" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarLeft">
    <ul class="navbar-nav nav mr-auto" ng-show="currentUser && !$state.includes('reset_admin_password') ">
      <li class="nav-item" ng-class="{ active: $state.includes('reports') || $state.includes('report') }">
        <a class="nav-link" ui-sref="reports" translate>Reports</a>
      </li>
      <li class="nav-item" ng-class="{ active: $state.includes('incidents') || $state.includes('incidents') }">
        <a class="nav-link" ui-sref="incidents" translate>Groups</a>
      </li>
      <li class="nav-item" ng-class="{ active: $state.includes('sources') || $state.includes('source') }">
        <a class="nav-link" ui-sref="sources" translate>Sources</a>
      </li>
      <li class="nav-item" ng-class="{ active: $state.includes('analysis') }">
        <a class="nav-link" ui-sref="analysis" translate>Analysis</a>
      </li>
    </ul>
    <!--This is the Right Side of the NavBar -->
    <ul class="navbar-nav ml-auto" ng-show="currentUser && !$state.includes('reset_admin_password')">
      <!-- This shows your role -->
      <li class="nav-item user" ui-sref-active="active">
        <a class="nav-link" href ng-click="viewProfile(currentUser)">
          <i class="fa fa-user fa-fw"></i>
          {{currentUser.username}}
        </a>
      </li>
      <li class="nav-item dropdown" ui-sref-active="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" >
          Settings
        </a>
        <div class="dropdown-menu mt-0 py-0" role="menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-link" href role="menuitem" ui-sref="config"
             ng-show="currentUser.can('change settings')" role="presentation">
            <i class="fa fa-gear fa-fw"></i>
            {{'Configuration' | translate}}
          </a>
          <a class="dropdown-item nav-link" href role="menuitem" ui-sref="users">
            <i class="fa fa-users fa-fw" aria-hidden="true"></i>
            {{'Users' | translate}}
          </a>
          <a class="dropdown-item nav-link" href role="menuitem" ui-sref="tags">
            <i class="fa fa-tag fa-fw" aria-hidden="true"></i>
            {{'Tags' | translate}}
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href ng-click="logout()">
          <i class="fa fa-sign-out fa-fw"></i>
          {{'Log out' | translate}}
        </a>
      </li>
    </ul>
    <ul class="navbar-nav" ng-show="$state.includes('reset_admin_password')">
      <li class="nav-item" ui-sref-active="active">
        <a class="nav-link" href ng-click="logout()">
          <i class="fa fa-sign-out fa-fw"></i>
          {{'Log out' | translate}}
        </a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav" ng-hide="currentUser">
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" href ui-sref="login">
        <i class="fa fa-sign-in fa-fw"></i>
        {{'Log in' | translate}}
      </a>
    </li>
  </ul>
</nav>
