<div class="navbar-wrapper" ng-controller="NavbarController">
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Aggie</a>
      </div>
      <ul class="nav navbar-nav" ng-show="currentUser">
        <li ng-class="{ active: $state.includes('reports') || $state.includes('report') }"><a ui-sref="reports">Reports</a></li>
        <li ng-class="{ active: $state.includes('incidents') || $state.includes('incidents') }"><a ui-sref="incidents">Incidents</a></li>
        <li ng-class="{ active: $state.includes('sources') || $state.includes('source') }"><a ui-sref="sources">Sources</a></li>
        <li ng-class="{ active: $state.includes('analysis') }"><a ui-sref="analysis.trends">Analysis</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="currentUser">
        <li ui-sref-active="active" class="user">
          <a ui-sref="profile">
          <i class="fa fa-user fa-fw"></i>
          {{currentUser.username}}</a>
        </li>
        <li ui-sref-active="active">
          <a id="dropdownMenu1" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
            Settings
          </a>
          <ul class="nav dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <a href role="menuitem" tabindex="-1" ui-sref="settings">
                <i class="fa fa-gear fa-fw"></i>
                Settings
              </a>
            </li>
            <li role="presentation">
              <a href role="menuitem" tabindex="-1" ui-sref="users">
                <i class="fa fa-users fa-fw"></i>
                Users
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href ng-click="logout()">
            <i class="fa fa-sign-out fa-fw"></i>
            Log out
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-hide="currentUser">
        <li ui-sref-active="active">
          <a href ui-sref="login">
            <i class="fa fa-sign-in fa-fw"></i>
            Log in
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar navbar-stats" ng-show="currentUser">
    <div class="container">
      <p class="navbar-text">Stats go here...</p>
      <div class="source-errors" ng-show="unreadErrorCount > 0">
        <a href ui-sref="sources" ui-sref-opts="{ reload: true }">{{ unreadErrorCount }} Fetching Errors</a>
      </div>
    </div>
  </div>
</div>
