<div ng-controller="PasswordResetModalController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 id="resetPasswordLabel" class="modal-title" translate>Reset Password</h4>
  </div>
  <div class="modal-body">
    <div class="well bs-component">
      <form class="form-horizontal" ng-submit="sendPasswordResetEmail()">
        <fieldset>
          <div class="form-group">
            <label for="email" class="col-lg-2 control-label" translate>Email</label>
            <div class="col-lg-8">
              <input type="text" ng-model="user.email"
                class="form-control" id="email"
                placeholder="{{'Enter email' | translate}}">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
      ng-click="close()" translate>Close</button>
    <button type="button" class="btn btn-primary"
      ng-click="okay()" translate>Submit</button>
  </div>
</div>
