<div ng-controller="PasswordResetModalController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 id="resetPasswordLabel" class="modal-title">Reset Password</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" ng-submit="sendPasswordResetEmail()">
      <fieldset>
        <div class="form-group">
          <label for="email" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-8">
            <input type="text" ng-model="user.email"
              class="form-control" id="email"
              placeholder="Enter email">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
      ng-click="close()">Close</button>
    <button type="button" class="btn btn-primary"
      ng-click="okay()">Submit</button>
  </div>
</div>
