<h1>Reset Password</h1>

<alert type="danger" ng-repeat="alert in alerts" close="closeAlert($index)">{{alert}}</alert>
<form class="form-horizontal" ng-submit="resetPassword()">
  <fieldset>
    <div class="form-group">
      <label for="password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-3">
        <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="password_confirmation" class="col-lg-2 control-label">Password Confirmation</label>
      <div class="col-lg-3">
        <input type="password" ng-model="user.password_confirmation" class="form-control" id="password_confirmation" placeholder="Password Confirmation">
      </div>
    </div>
    <div ng-show="(user.password != user.password_confirmation)">
        <span>Passwords do not match</span>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
