<div>
  <h4 translate>Set New Admin Password</h4>
  <p translate>The admin password must be changed after installation of Aggie. Please do so before continuing.</p>
  <p translate>Remember that the password has to be at least 8 characters long.</p>
  <p translate>By default there is no email address associated with your admin
    account. If you forget your password, you may be unable to recover your
    account. Please add an email under Settings &gt; Users &gt; admin.</p>
  <form novalidate name="form" class="form-horizontal" ng-submit="newPwd(form)">
    <fieldset>
      <div class="form-group">
        <label for="password" class="col-lg-2 control-label" translate>Password</label>
        <div class="col-lg-3">
          <input type="password" ng-model="user.password" class="form-control" id="password" />
        </div>
      </div>
      <div class="form-group">
        <label for="password_confirmation" class="col-lg-2 control-label">Password Confirmation</label>
        <div class="col-lg-3">
          <input type="password" ng-model="user.passwordConfirmation" class="form-control"
                 id="password_confirmation" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary" translate>Confirm</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
