<div class="pt-2">
  <div class="jumbotron-fluid" ng-if="stats">
    <span title="{{'Total number of Reports' | translate}}" translate>Total Reports</span>
    <h3>{{stats.totalReports | number}}</h3>
    <span title="{{'Total number of Reports' | translate}}" translate>Reports/Last min</span>
    <h3>{{stats.totalReportsPerMinute | number}}</h3>
    <span translate>Unread</span>
    <h3>{{stats.totalReportsUnread | number}}</h3>
    <span translate>Escalated Reports</span>
    <h3>{{stats.totalEscalatedIncidents | number}}</h3>
    <span translate>Groups</span>
    <h3>{{stats.totalIncidents | number}}</h3>
    <span translate>Escalated Groups</span>
    <h3>{{stats.totalEscalatedIncidents | number}}</h3>
  </div>
</div>

