<div ng-controller="CredentialsFormModalController">
    <div class="modal-header">
      <h5 class="modal-title">
        <span class="icon-left">{{ 'New' | translate }} {{ 'Credentials' | translate }}</span>
      </h5>
      <button class="close" ng-click="close()" aria-hidden="true">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="well bs-component">
        <div class="alert alert-danger" ng-show="message" translate>{{message}}</div>
        <form novalidate name="form" class="mt-2">
          <fieldset>
            <div class="form-group">
              <label for="name" class="control-label" translate>Name</label>
              <input id="name" type="text" class="form-control" ng-model="credentials.name" maxlength="30" required ng-focus>
              <span class="input-group-addon"><span ng-show="credentials.name.length && form.credentials.$focused">{{30 - credentials.name.length}}</span></span>
            </div>
  
            <!-- errors -->
            <div class="form-group">
              <div class="has-error" ng-show="showErrors">
                <div class="help-block" ng-show="form.credentials.$error.required" translate>
                  Name is required.
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label for="type" class="control-label" translate>Type</label>
              <select id="type" name="type" ng-model="credentials.type" ng-options="type as type | translate for type in credentialsTypes" class="form-control" required></select>
              <div class="has-error" ng-show="showErrors">
                <div class="help-block" ng-show="form.type.$error.required" translate>Type is required.</div>
              </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'crowdtangle'">
                <label for="dashboardAPIToken" translate>Dashboard API Token</label>
                <input id="dashboardAPIToken" name='dashboardAPIToken' type="text" class="form-control" ng-model="credentials.secrets.dashboardAPIToken" ng-required="credentials.type == 'crowdtangle'">
                <div class="has-error" ng-show="showErrors && form.dashboardAPIToken.$invalid">
                    <small class=" form-text text-muted" ng-show="form.dashboardAPIToken.$error.required">A Dashboard API token is required for CrowdTangle credentials.</small>
                </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'twitter'">
                <label for="consumerKey" translate>Consumer Key</label>
                <input id="consumerKey" name='consumerKey' type="text" class="form-control" ng-model="credentials.secrets.consumerKey" ng-required="credentials.type == 'twitter'">
                <div class="has-error" ng-show="showErrors && form.consumerKey.$invalid">
                    <small class=" form-text text-muted" ng-show="form.consumerKey.$error.required">A consumer key is required for Twitter credentials.</small>
                </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'twitter'">
                <label for="consumerSecret" translate>Consumer Secret</label>
                <input id="consumerSecret" name='consumerSecret' type="text" class="form-control" ng-model="credentials.secrets.consumerSecret" ng-required="credentials.type == 'twitter'">
                <div class="has-error" ng-show="showErrors && form.consumerSecret.$invalid">
                    <small class=" form-text text-muted" ng-show="form.consumerSecret.$error.required">A consumer secret is required for Twitter credentials.</small>
                </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'twitter'">
                <label for="accessToken" translate>Access Token</label>
                <input id="accessToken" name='accessToken' type="text" class="form-control" ng-model="credentials.secrets.accessToken" ng-required="credentials.type == 'twitter'">
                <div class="has-error" ng-show="showErrors && form.accessToken.$invalid">
                    <small class=" form-text text-muted" ng-show="form.accessToken.$error.required">An access token is required for Twitter credentials.</small>
                </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'twitter'">
                <label for="accessToken" translate>Access Token Secret</label>
                <input id="accessTokenSecret" name='accessTokenSecret' type="text" class="form-control" ng-model="credentials.secrets.accessTokenSecret" ng-required="credentials.type == 'twitter'">
                <div class="has-error" ng-show="showErrors && form.accessTokenSecret.$invalid">
                    <small class=" form-text text-muted" ng-show="form.accessTokenSecret.$error.required">An access token secret is required for Twitter credentials.</small>
                </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'telegram'">
              <label for="botAPIToken" translate>Bot API Token</label>
              <input id="botAPIToken" name='botAPIToken' type="text" class="form-control" ng-model="credentials.secrets.botAPIToken" ng-required="credentials.type == 'telegram'">
              <div class="has-error" ng-show="showErrors && form.botAPIToken.$invalid">
                  <small class=" form-text text-muted" ng-show="form.botAPIToken.$error.required">A Bot API token is required for Telegram credentials.</small>
              </div>
          </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="close()" translate>Close</button>
      <button type="button" class="btn btn-primary" ng-click="save(form)" translate>Submit</button>
    </div>
  </div>
  