<div ng-controller="CredentialsFormModalController">
    <div class="modal-header">
      <h5 class="modal-title">
        <span class="icon-left">{{ 'New' | translate }} {{ 'Credentials' | translate }}</span>
      </h5>
      <button class="close" ng-click="close()" aria-hidden="true">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="well bs-component">
        <div class="alert alert-danger" ng-show="message" translate>{{message}}</div>
        <form novalidate name="form" class="mt-2">
          <fieldset>
            <div class="form-group">
              <label for="name" class="control-label" translate>Name</label>
              <input id="name" type="text" class="form-control" ng-model="credentials.name" maxlength="30" required ng-focus>
              <span class="input-group-addon"><span ng-show="credentials.name.length && form.credentials.$focused">{{30 - credentials.name.length}}</span></span>
            </div>
  
            <!-- errors -->
            <div class="form-group">
              <div class="has-error" ng-show="showErrors">
                <div class="help-block" ng-show="form.credentials.$error.required" translate>
                  Name is required.
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label for="type" class="control-label" translate>Type</label>
              <select id="type" name="type" ng-model="credentials.type" ng-options="type as type | translate for type in credentialsTypes" class="form-control" required></select>
              <div class="has-error" ng-show="showErrors">
                <div class="help-block" ng-show="form.type.$error.required" translate>Type is required.</div>
              </div>
            </div>

            <!-- CrowdTangle -->

            <div class="form-group" ng-show="credentials.type === 'crowdtangle'">
                <label for="dashboardAPIToken" translate>Dashboard API Token</label>
                <input id="dashboardAPIToken" name='dashboardAPIToken' type="text" class="form-control" ng-model="credentials.secrets.dashboardAPIToken" ng-required="credentials.type == 'crowdtangle'">
                <div class="has-error" ng-show="showErrors && form.dashboardAPIToken.$invalid">
                    <small class=" form-text text-muted" ng-show="form.dashboardAPIToken.$error.required">A Dashboard API token is required for CrowdTangle credentials.</small>
                </div>
            </div>

            <!-- Twitter -->

            <div class="form-group" ng-show="credentials.type === 'twitter'">
                <label for="consumerKey" translate>Consumer Key</label>
                <input id="consumerKey" name='consumerKey' type="text" class="form-control" ng-model="credentials.secrets.consumerKey" ng-required="credentials.type == 'twitter'">
                <div class="has-error" ng-show="showErrors && form.consumerKey.$invalid">
                    <small class=" form-text text-muted" ng-show="form.consumerKey.$error.required">A consumer key is required for Twitter credentials.</small>
                </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'twitter'">
                <label for="consumerSecret" translate>Consumer Secret</label>
                <input id="consumerSecret" name='consumerSecret' type="text" class="form-control" ng-model="credentials.secrets.consumerSecret" ng-required="credentials.type == 'twitter'">
                <div class="has-error" ng-show="showErrors && form.consumerSecret.$invalid">
                    <small class=" form-text text-muted" ng-show="form.consumerSecret.$error.required">A consumer secret is required for Twitter credentials.</small>
                </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'twitter'">
                <label for="accessToken" translate>Access Token</label>
                <input id="accessToken" name='accessToken' type="text" class="form-control" ng-model="credentials.secrets.accessToken" ng-required="credentials.type == 'twitter'">
                <div class="has-error" ng-show="showErrors && form.accessToken.$invalid">
                    <small class=" form-text text-muted" ng-show="form.accessToken.$error.required">An access token is required for Twitter credentials.</small>
                </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'twitter'">
                <label for="accessToken" translate>Access Token Secret</label>
                <input id="accessTokenSecret" name='accessTokenSecret' type="text" class="form-control" ng-model="credentials.secrets.accessTokenSecret" ng-required="credentials.type == 'twitter'">
                <div class="has-error" ng-show="showErrors && form.accessTokenSecret.$invalid">
                    <small class=" form-text text-muted" ng-show="form.accessTokenSecret.$error.required">An access token secret is required for Twitter credentials.</small>
                </div>
            </div>

            <!-- Telegram -->

            <div class="form-group" ng-show="credentials.type === 'telegram'">
              <label for="botAPIToken" translate>Bot API Token</label>
              <input id="botAPIToken" name='botAPIToken' type="text" class="form-control" ng-model="credentials.secrets.botAPIToken" ng-required="credentials.type == 'telegram'">
              <div class="has-error" ng-show="showErrors && form.botAPIToken.$invalid">
                  <small class=" form-text text-muted" ng-show="form.botAPIToken.$error.required">A Bot API token is required for Telegram credentials.</small>
              </div>
            </div>

            <!-- ELMO -->

            <div class="form-group" ng-show="credentials.type === 'elmo'">
              <label for="authToken" translate>ELMO Authentication Token</label>
              <input id="authToken" name='authToken' type="text" class="form-control" ng-model="credentials.secrets.authToken" ng-required="credentials.type == 'elmo'">
              <div class="has-error" ng-show="showErrors && form.authToken.$invalid">
                  <small class=" form-text text-muted" ng-show="form.authToken.$error.required">An authentication token is required for ELMO credentials.</small>
              </div>
            </div>

            <!-- SMTP -->

            <div class="form-group" ng-show="credentials.type === 'smtp'">
              <label for="host" translate>SMTP Host</label>
              <input id="host" name='host' type="text" class="form-control" ng-model="credentials.secrets.host" ng-required="credentials.type == 'smtp'">
              <div class="has-error" ng-show="showErrors && form.host.$invalid">
                  <small class=" form-text text-muted" ng-show="form.host.$error.required">A host is required for SMTP credentials.</small>
              </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'smtp'">
              <label for="port" translate>SMTP Port</label>
              <input id="port" name='port' type="number" class="form-control" ng-model="credentials.secrets.port" ng-required="credentials.type == 'smtp'">
              <div class="has-error" ng-show="showErrors && form.port.$invalid">
                  <small class=" form-text text-muted" ng-show="form.port.$error.required">A port is required for SMTP credentials.</small>
              </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'smtp'">
              <label for="username" translate>SMTP Username</label>
              <input id="username" name='username' type="text" class="form-control" ng-model="credentials.secrets.username" ng-required="credentials.type == 'smtp'">
              <div class="has-error" ng-show="showErrors && form.username.$invalid">
                  <small class=" form-text text-muted" ng-show="form.username.$error.required">A username is required for SMTP credentials.</small>
              </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'smtp'">
              <label for="password" translate>SMTP Password</label>
              <input id="password" name='password' type="password" class="form-control" ng-model="credentials.secrets.password" ng-required="credentials.type == 'smtp'">
              <div class="has-error" ng-show="showErrors && form.password.$invalid">
                  <small class=" form-text text-muted" ng-show="form.password.$error.required">A password is required for SMTP credentials.</small>
              </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'smtp'">
              <label for="secure" translate>SMTP Secure Mode</label>
              <input id="secure" name='secure' type="checkbox" class="form-control" ng-model="credentials.secrets.secure">
              <small class="form-text text-muted" translate="credentials_modal.smtp_secure_helper"></small>
            </div>

            <!-- AWS SES -->

            <div class="form-group" ng-show="credentials.type === 'aws_ses'">
              <label for="accessKeyID" translate>AWS Access Key ID</label>
              <input id="accessKeyID" name='accessKeyID' type="text" class="form-control" ng-model="credentials.secrets.accessKeyID" ng-required="credentials.type == 'aws_ses'">
              <div class="has-error" ng-show="showErrors && form.accessKeyID.$invalid">
                  <small class=" form-text text-muted" ng-show="form.accessKeyID.$error.required">An AWS access key ID is required for AWS SES credentials.</small>
              </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'aws_ses'">
              <label for="secretAccessKey" translate>AWS Secret Access Key</label>
              <input id="secretAccessKey" name='secretAccessKey' type="text" class="form-control" ng-model="credentials.secrets.secretAccessKey" ng-required="credentials.type == 'aws_ses'">
              <div class="has-error" ng-show="showErrors && form.secretAccessKey.$invalid">
                  <small class=" form-text text-muted" ng-show="form.secretAccessKey.$error.required">An AWS secret access key is required for AWS SES credentials.</small>
              </div>
            </div>

            <div class="form-group" ng-show="credentials.type === 'aws_ses'">
              <label for="region" translate>AWS Region</label>
              <input id="region" name='region' type="text" class="form-control" ng-model="credentials.secrets.region" ng-required="credentials.type == 'aws_ses'">
              <div class="has-error" ng-show="showErrors && form.region.$invalid">
                  <small class=" form-text text-muted" ng-show="form.region.$error.required">An AWS region is required for AWS SES credentials.</small>
              </div>
            </div>

            <!-- SendGrid -->

            <div class="form-group" ng-show="credentials.type === 'sendgrid'">
              <label for="apiKey" translate>SendGrid API Key</label>
              <input id="apiKey" name='apiKey' type="text" class="form-control" ng-model="credentials.secrets.apiKey" ng-required="credentials.type == 'sendgrid'">
              <div class="has-error" ng-show="showErrors && form.apiKey.$invalid">
                  <small class=" form-text text-muted" ng-show="form.apiKey.$error.required">A SendGrid API key is required for SendGrid credentials.</small>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="close()" translate>Close</button>
      <button type="button" class="btn btn-primary" ng-click="save(form)" translate>Submit</button>
    </div>
  </div>
  