.viz-content {
  max-width: 1300px;
  margin: 0 auto;
  h1 {
    margin: 20px;
    font-weight: 300;
  }
  .chart {
    margin: 20px 0;
  }
  .stat-cards {
    display: flex;
    margin: 10px;
    justify-content: center;
  }

  .stat-card {
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    width: 200px;
    height: 160px;
    margin: 5px;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0,0,0,.125);
  }

  .stat-cart__value {
    font-size: 4em;
    text-align: center;
    align-self: center;
    // font-weight: 300;
    grid-row: 2;
  }

  .stat-cart__label {
    text-align: right;
    padding: 0 10px;
    grid-row: 3;
    font-size: 1.2em;
    opacity: 0.7;
  }

  .tooltip {
    background: #fff;
    border: 1px solid #bbb;
    color: #555;
    position: absolute;
    padding: 5px;
    pointer-events: none;
    font-family: "Lato", sans-serif;
    font-size: 0.8em;
  }

  .tooltip-title {
    color: #222;
    font-size: 1.1em;
  }

  .has-tooltip {
    position: relative;
  }

  .tick line {
    shape-rendering: crispEdges;
    stroke: #000;
    stroke-width: 1px;
  }

  .tick.minor line {
    stroke: #777;
    stroke-width: 1px;
    stroke-dasharray: 8, 10;
  }

  .viz-padding {
    margin-bottom: 200px;
  }
  
  .description {
    font-size: 1.2em;
  }
}
