.legend {
  margin-top: 20px;

  .legend-item {
    background-color: #f6f6f6;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 12px;

    input[type="checkbox"] {
      float: left;
      margin-top: 0px;
      margin-right: 10px;
    }
  }

  .legend-color {
    float: left;
    content: '';
    height: 30px;
    width: 8px;
  }

  .legend-terms {
    margin-left: 38px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 8px;
    }

    p {
      margin: 0 16px 3px 0;
      overflow: hidden;
      white-space: nowrap;

      &:last-child {
        margin: 0;
      }

      em {
        font-style: normal;
        color: #aaa;
      }
    }
  }

  .legend-terms-disabled {
    color: #aaa;
  }

  button.delete {
    font-size: 15px;
    background: transparent;
    border: 0;
    float: right;
    margin: 0;
    padding: 0;
  }
}

.canvasjs-chart-tooltip > div > p {
  font-family: $font-family;
  color: #222222;
  font-size: 12px;
  font-style: normal;
  font-weight: $medium-weight;
  margin: 0;
}