body {
  font-family: Helvetica;
  font-size: 13px;
}

form {
  margin: 0;
}

h2 {
  font-size: 16px;
}

ul#requests li {
  line-height: 20px;
}

#status {
  font-weight: bold;
  margin-bottom: 5px;
  width: 50%;
}

#status.success {
  color: Green;
}

#status.error {
  color: Red;
}

#response {
  font-family: Lucidatypewriter, monospace;
  font-size: 12px;
}

#stream-wrapper {
  float: right;
  width: 50%;
  position: relative;
  top: -64px;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
