{
  "twitter": {
    "consumer_key": "Enter Consumer Key",
    "consumer_secret": "Enter Consumer Secret",
    "access_token": "Enter Access Token",
    "access_token_secret": "Enter Access Token Secret"
  },
  "facebook": {
    "accessToken": "Enter Access Token"
  },
  "elmo": {
    "authToken": "Enter Auth Token"
  },
  "gplaces": {
    "key": ""
  },
  "incident map": {
    "zoom": "7",
    "center": "Ghana",
    "latitude": "",
    "longitude": ""
  },
  "mongodb": {
    "username": "",
    "password": "",
    "host": "localhost",
    "port": "27017",
    "db": "aggie"
  },
  "email": {
    "from": "Aggie <aggie@example.com>",
    "transport": {
      "method": "SES",
      "options": {
        "AWSAccessKeyID": "AWSAccessKey",
        "AWSSecretKey": "AWS/Secret/Key",
        "ServiceUrl": "https://email.us-east-1.amazonaws.com"
      }
    }
  },
  "logger": {
    "SES": {
      "to": "Aggie <aggie-admin@example.com>",
      "accessKey": "AWSAccessKey",
      "secretKey": "AWS/Secret/Key",
      "from": "Aggie <aggie@example.com>",
      "level": "error",
      "silent": false
    },
    "Slack": {
      "webhook_url": "https://hooks.slack.com/services/XXXXXXXXX/YYYYYYYYY/ZZZZZZZZZZZZZZZZZZZZZZZZ",
      "channel": "#aggie-deployments",
      "username": "Aggie@ServerName",
      "level": "error",
      "handleExceptions": true
    },
    "file": {
      "level": "debug",
      "silent": false,
      "colorize": true,
      "maxsize": 5242880,
      "maxFiles": 10,
      "json": false,
      "prettyPrint": true,
      "filename": "logs/master.log",
      "timestamp": true
    },
    "api": {
      "log_requests": true,
      "log_responses": true,
      "log_user_activity": false,
      "filename": "logs/api.log"
    },
    "master": {
      "filename": "logs/master.log"
    },
    "fetching": {
      "filename": "logs/fetching.log"
    },
    "analytics": {
      "filename": "logs/analytics.log"
    }
  },
  "api_request_timeout": 60,
  "secret": "Replace this string when installing aggie with something else!!",
  "adminParty": true,
  "experiment": false,
  "experimentFile": "test/end-to-end/fixtures/experiment_reports.json",
  "adminPassword": "letmein1",
  "adminEmail": "aggie-admin@example.com"
}
