{
  "twitter": {
    "consumer_key": "xxx",
    "consumer_secret": "xxx",
    "access_token": "xxx",
    "access_token_secret": "xxx"
  },
  "mongodb": {
    "host": "localhost",
    "db": "aggie"
  }
}
