{
  "twitter": {
    "consumer_key": "E3LbqKg989RdhNkkw9dE6OsNP",
    "consumer_secret": "OSoFLvmudEbsezTBH1Kc33fLroligbnZnyDuPKVh8pDlgX2FDP",
    "access_token": "48173893-Y9uGxpaarfvCM13wederxhmcWBhWPbYRWsYGpRwjj",
    "access_token_secret": "pYmczU5LQ2QuQCf4cWuNwfNCRJvIBjMR4ssPKgq8NBiPg"
  },
  
  "facebook": {
    "accessToken": "CAALfDxm5yZCkBALdVhJr5CusZBtWLUpMzaMs8ZAzCTPeo6GJKoEofgCwd5z0govcEKFszcEC5ac8PSalHTPFHo70eTgdDYC2tKOF3GZBcDsoWl7Az1p1yoobEOmRUr9TVCJsHeXS1qXF3vZBGEaA2fcuf7eB6QurNk5fkSZCfkJtReddAGZCRcP8ZCctok6ZBcpOJomOCzzadcg9FtJJKXIZCv"
  },
  
  "elmo": {
    "authToken": "xxx"
  },
  
  "mongodb": {
    "host": "localhost",
    "port": "27017",
    "db": "aggie"
  },

  "fromEmail": "aman@colab.coop",
  
  "email": {
    "from": "Aggie <aman@colab.coop>",
    
    "transport": {
      "method": "SES",
      "options": {
        "AWSAccessKeyID": "AKIAIWX4EP6CX7AXFV3Q",
        "AWSSecretKey": "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"
      }
    }
  },
  
  "log": true,
  
  "secret": "keyboard cat",
  
  "adminParty": true,
  
  "adminPassword": "letmein",
  
  "fetching": false
}