var config = {};

// Twitter API configuration
config.twitter = {
  consumer_key: 'xxx',
  consumer_secret: 'xxx',
  access_token: 'xxx',
  access_token_secret: 'xxx'
};

// MongoDB database connection parameters
config.mongodb = {
  username: 'username',
  password: 'password',
  host: 'localhost',
  port: 'port number',
  db: 'aggie'
};

// Email transport configuration
config.email = {
  from: 'Aggie <aggie@example.com>',
  transport: {
    method: 'SES',
    options: {
      AWSAccessKeyID: 'AWSACCESSKEY',
      AWSSecretKey: 'AWS/Secret/key'
    }
  }
};

// Log data to console
config.log = false;

// Session secret
config.secret = 'keyboard cat';

// Run Aggie in admin party mode: everyone has administrator privileges
config.adminParty = false;

// Set administrator password during install phase
config.adminPassword = 'letmein';

module.exports = config;
