var config = {};

// Twitter API configuration
config.twitter = {
  consumer_key: 'xxx',
  consumer_secret: 'xxx',
  access_token: 'xxx',
  access_token_secret: 'xxx'
};

// Facebook API configuration
// To obtain token, do GET https://graph.facebook.com/oauth/access_token?client_secret=xxx&client_id=xxx&grant_type=client_credentials
// Obtain client_id and client_secret from https://developers.facebook.com/apps/ (create an app if necessary)
config.facebook = {
  accessToken: 'xxx'
};

// MongoDB database connection parameters
config.mongodb = {
  username: 'username',
  password: 'password',
  host: 'localhost',
  port: 'port number',
  db: 'aggie'
};

// Email transport configuration
config.email = {
  from: 'Aggie <aggie@example.com>',

  // These are the two arguments that get passed to nodemailer (see http://www.nodemailer.com/docs/transports)
  transport: {
    method: 'SES',
    options: {
      AWSAccessKeyID: 'AWSACCESSKEY',
      AWSSecretKey: 'AWS/Secret/key'
    }
  }
};

// Log data to console
config.log = false;

// Session secret
config.secret = 'keyboard cat';

// Run Aggie in admin party mode: everyone has administrator privileges
config.adminParty = false;

// Set administrator password during install phase
config.adminPassword = 'letmein';

module.exports = config;
