<div ng-show="currentUser.can('edit data')" class="button-row">
  <button ng-controller="TrendFormModalController" class="btn btn-info" ng-click="create()" translate>Create Trend</a>
</div>

<div class="clearfix"></div>

<p ng-hide="trends.length > 0 " translate>Sorry, but we couldn't find any results.</p>

<table aggie-table ng-show="trends.length > 0" class="trend-bars">
  <thead>
    <tr>
      <th translate>Query</th>
      <th translate>Reports</th>
      <th ng-show="currentUser.can('edit data')" class translate>Enabled</th>
      <th ng-show="currentUser.can('edit data')" class translate>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="t in trends | orderBy:['-enabled', '-lastEnabledAt']" ng-class="trendClass(t)">
      <td class="compact content trend-info">
        <div ng-show="t.query.keywords">{{ 'Keywords:' | translate }} {{t.query.keywords | translate}}</div>
        <div ng-show="t.query.media">{{ 'Media:' | translate }} {{t.query.media | translate}}</div>
        <div ng-show="t.query.sourceId">{{ 'Source:' | translate }} {{sourcesById[t.query.sourceId].nickname || '[Deleted]'}}</div>
        <div ng-show="t.query.incidentId">{{ 'Incident:' | translate }} {{incidentsById[t.query.incidentId].title || '[Deleted]'}}</div>
      </td>
      <td class="content expand sparkline">
        <aggie-sparkline values="t.counts" start-time="startTime" height="t.minmax" callback="showReport(sparkEvent, t)"></aggie-sparkline>
      </td>
      <td ng-show="currentUser.can('edit data')" class="compact text-center status">
        <aggie-toggle toggle="t.enabled" boolean options="{ true: 'On', false: 'Off' }" on-change="toggleEnabled(t)">
      </td>
      <td ng-show="currentUser.can('edit data')" class="compact text-center middle">
        <button type="button" href class="btn btn-info" aggie-confirm="{{ 'Are you sure you want to delete this trend? (All historical data will be lost)' | translate }}}" on-confirm="deleteTrend(t)">{{ 'Delete' | translate }}</button>
      </td>
    </tr>
  </tbody>
</table>
