<div class="button-row">
  <button ng-controller="TrendFormModalController" class="btn btn-info" ng-click="create()">Create Trend</a>
</div>

<div class="clearfix"></div>

<p ng-hide="trends.length > 0 ">Sorry, but we couldn't find any results.</p>

<table aggie-table ng-show="trends.length > 0" class="trend-bars">
  <thead>
    <tr>
      <th>Query</th>
      <th>Reports</th>
      <th>Enabled</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="t in trends | orderBy:['-enabled', '-lastEnabledAt']" ng-class="trendClass(t)">
      <td class="compact content trend-info">
        <div ng-show="t.query.keywords">Keywords: {{t.query.keywords | translate}}</div>
        <div ng-show="t.query.media">Media: {{t.query.media | translate}}</div>
        <div ng-show="t.query.sourceId">Source: {{sourcesById[t.query.sourceId].nickname || '[Deleted]'}}</div>
        <div ng-show="t.query.incidentId">Incident: {{incidentsById[t.query.incidentId].title || '[Deleted]'}}</div>
      </td>
      <td class="content expand sparkline">
        <aggie-sparkline values="t.counts" start-time="startTime" height="t.minmax" callback="showReport(sparkEvent, t)"></aggie-sparkline>
      </td>
      <td class="compact text-center status">
        <aggie-toggle toggle="t.enabled" boolean options="{ true: 'On', false: 'Off' }" on-change="toggleEnabled(t)">
      </td>
      <td class="compact text-center middle">
        <button type="button" href class="btn btn-info" aggie-confirm="Are you sure you want to delete this trend? (All historical data will be lost)" on-confirm="deleteTrend(t)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
