<p ng-hide="trends.length > 0 " translate>There are currently no trends. Click 'Create Trend' to make one.</p>
<p ng-hide="trends.length == 0" translate>Data updated every 10 seconds. Data grouped into 5 minute intervals. Click data points (circles) to view matching reports.</p>

<div id="chartContainer" style="margin: 5px; height: 600px; width: 80%; float: left;"></div>

<div class="table-actions" style="float:left; width: 200px;">
  <button ng-show="currentUser.can('edit data')" ng-controller="TrendFormModalController" class="btn btn-info" ng-click="create()" translate>Create Trend</button>
  <div class="legend">
    <div ng-repeat="t in trends | orderBy:['-enabled']" class="legend-item">
      <input ng-show="currentUser.can('edit data')" type="checkbox" ng-model="t.enabled" ng-change="toggleEnabled(t)" ng-checked="{{t.enabled}}">
      <div class="legend-color" style="background-color: {{t.enabled ? t.color : 'lightgrey'}}"></div>
      <button ng-hide="currentUser.can('edit data')" aggie-confirm="{{ 'Are you sure you want to delete this trend? (All historical data will be lost)' | translate }}"
              class="delete" on-confirm="deleteTrend(t)">&times;</button>
      <div ng-class="['legend-terms', t.enabled ? 'legend-terms-enabled' : 'legend-terms-disabled']">
        <p ng-show="t.query.keywords" title="{{t.query.keywords | translate}}">
          {{t.query.keywords | translate}}
        </p>
        <p ng-show="t.query.media" title="{{ 'Media:' | translate }} {{t.query.media | translate}}">
          <em>{{ 'Media:' | translate }}</em> {{t.query.media | translate}}
        </p>
        <p ng-show="t.query.sourceId" title="Source: {{t.query.sourceNickname}}">
          <em>{{ 'Source:' | translate }}</em> {{t.query.sourceNickname}}
        </p>
        <p ng-show="t.query.incidentId" title="Incident: {{t.query.incidentTitle}}">
          <em>{{ 'Incident:' | translate }}</em> {{t.query.incidentTitle}}
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


