<div ng-controller="TrendFormModalController">
  <div class="modal-header">
    <button class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 class="modal-title" translate>Create Trend</h4>
  </div>
  <div class="modal-body">
    <div class="well bs-component">
      <form name="form" class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for="keywords" class="col-lg-3 control-label" translate>Keywords</label>
            <div class="col-lg-6">
              <input type="text" ng-model="trend.keywords" class="form-control" id="keywords" name="keywords" placeholder="{{ 'Enter keywords' | translate }}">
              <div class="help-block" translate="trends_modal_help"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="type" class="col-lg-3 control-label" translate>Media</label>
            <div class="col-lg-6">
              <select name="type" class="form-control" ng-model="trend.media" ng-options="media as media | translate for media in mediaOptions">
                <option value="" translate>Choose media</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="source" class="col-lg-3 control-label" translate>Source</label>
            <div class="col-lg-6">
              <select ng-model="trend.sourceId" ng-options="value._id as value.nickname for value in sources" class="form-control">
                <option value="" translate>Choose source</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="incident" class="col-lg-3 control-label" translate>Incident</label>
            <div class="col-lg-6">
              <select ng-model="trend.incidentId" ng-options="value._id as value.title for value in incidents" class="form-control">
                <option value="" translate>Choose incident</option>
              </select>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()" translate>Close</button>
    <button class="btn btn-primary" ng-click="save(form)" translate>Submit</button>
  </div>
</div>
