.td__select {
    width: fit-content;
}
.td__sourceInfo {
    width: 15%;
    font-size: 12px;
}

.td__content {
    width: 40%;
    font-size: 14px;
}

.td__tags {
    width: 15%;
}

.td__image {
    width: 15%;
}

.td__group {
    width: 15%;
}

.sourceInfo__link {
    color:#000000;
    font-size: 12px;
    text-decoration:none;
    word-break: break-word;
}

.sourceInfo__source {
    text-decoration: underline;
}

.sourceInfo__link:hover {
    text-decoration: underline;
}

.reportRead {
    background-color: ghostwhite;
}

.reportUnread {
    background-color: white;
}

.icon__veracity {
    font-size: 18px;
}



button.rbt-close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.group__idnum {
    font-size: 12px;
    white-space: nowrap;
}

.group__totalReports {
    font-size: 12px;
    white-space: nowrap;
}

.content__link {
    color:#212529;
    text-decoration:none;
}

.content__link:hover {
    text-decoration: underline;
}