.content__link {
    color:#212529;
    text-decoration:none;
}

.content__link:hover {
    text-decoration: underline;
}

.sourceInfo {
    font-size: 12px;
}

.sourceInfo__link {
    color:#000000;
    font-size: 14px;
    text-decoration:none;
}

.sourceInfo__source {
    text-decoration: underline;
}

.sourceInfo__link:hover {
    text-decoration: underline;
}

.content {
    font-size: 14px;
}

.tr--read {
    background-color: ghostwhite;
}

.td__image {
    width: 15%;
}
.tr--unread {
    background-color: white;
}

.icon__veracity {
    font-size: 18px;
}

.td__notes {
    width: 25%;
}

button.rbt-close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.group__idnum {
    font-size: 12px;
    white-space: nowrap;
}

.group__title {
    font-size: 14px;
    font-weight: bold;
}
