.table, table {
  > thead {
    > tr {
      > th {
        font-weight: normal;
        border: none;
      }
    }
  }
  > tbody {
    > tr {
      transition: background 0.25s ease-in-out;
      > td {
        &.td__status {
          vertical-align: middle;
        }
        &.td__errors {
          vertical-align: middle;
        }
        &.tag {
        }
        &.td__sourceInfo {
          max-width: 100px;
        }
      }
    }
  }
  .compact {
    white-space: nowrap;
  }

  .thumbnail-image {
    padding: 0;
    min-width: 30px;
    max-width: 120px;
  }

  // The main link in the table, which gets special treatment.
  a.table-primary-link {
    font-weight: bold;
    color: $link-blue;
    background-color: transparent;
  }
}

tbody {
  .relevant {
    background-color: #ecf6f8;
    &:hover {
      background-color: darken(#ecf6f8, 5%);
    }
  }
  .irrelevant {
    background-color: #f1f2f2;
    &:hover {
      background-color: darken(#f1f2f2, 5%);
    }
  }
  tr.unread {
    td {
      font-weight: bold;
    }
  }

  tr.new-incident {
    background-color: rgba(146, 200, 220, 0.4);
  }
  tr.working-incident {
    background-color: rgba(0, 200, 70, 0.4);
  }
  tr.alert-incident {
    background-color: rgba(234, 239, 146, 0.4);
    // red? background-color: rgba(255, 0, 0, 0.3);
  }
  tr.closed-incident {
    background-color: rgba(100, 100, 100, 0.4);
  }
  tr td span.angular-with-newlines {
    white-space: pre;
  }
}

.interval {
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  margin-right: 10px;
  .interval-amount,
  .interval-relative {
    display: block;
    line-height: 1;
  }
  .interval-amount {
    font-size: 14px;
  }
}

.date-and-time {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  color: #666;
  .date, .time {
    display: block;
  }
}

.td__media {
  max-width: 56px;
}
.td__source {
  .icon-left {
    width: 33px;
    height: 33px;
    display: inline-block;
    padding-left: 33px;
  }
  .facebook-source {
      background: url('/images/facebook.png') no-repeat 0 50%;
  }
  .instagram-source {
    background: url('/images/instagram.png') no-repeat 0 50%;
  }
  .twitter-source {
    background: transparent url('/images/twitter.png') no-repeat 0 50%;
    &:before {
      display: none;
    }
  }

  .elmo-source {
    background: url('/images/elmo.png') no-repeat 0 50%;
  }

  .rss-source {
    background: url('/images/rss.png') no-repeat 0 50%;
  }
  .smsgh-source {
    background: url('/images/smsgh.png') no-repeat 0 50%;
  }
  .whatsapp-source {
    background: url('/images/whatsapp.png') no-repeat 0 50%;
  }

  .crowdtangle-source {
    background: url('/images/facebook.png') no-repeat 0 50%;
  }

  .telegram-source {
    background: url('/images/telegram.png') no-repeat 0 50%;
}

  .unknown-source {
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      width: 33px;
      height: 33px;
      line-height: 33px;
      text-align: center;
      background-color: #ddd;
      color: #bbb;
      font-size: 20px;
      content: '?'
    }
  }
}





.strong {
  font-weight: bold;
}

table, .table {
  td {
    &.vertical-middle {
      vertical-align: middle;
    }

    &.relative {
      position: relative;
    }

  }
  a {
    color: $link-blue;
    text-decoration: none;
    &:hover {
      color: lighten($link-blue, 10%);
      text-decoration: underline;
    }
    &.remove {
      color: #000;
      position: absolute;
      top: -2px;
      right: 4px;
    }
  }
  tr.trend-disabled {
    background-color: rgba(100, 100, 100, 0.4);
  }
}

.batch-mode {
  background-color: $blue;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 12px;
  color: #fff;
  .title {
    font-size: 14px;
    font-weight: normal;
  }
}

.bg-table-filters {
  background-color: #eaef92;
}

/*.table-filters,
.button-row,
.batch-actions {
  .checkbox-btn {
    font-size: 14px;
    margin-top: 10px;
    padding: 4px 8px 5px 8px;
  }
}*/



.actions {
  width: 50px;
  text-align: center;
}

.table .middle {
  vertical-align: middle;
}

.td__content {
  height: 100% !important;
  position: relative;
  max-width: 400px;
  a {
    height: 100%;
    width: 100%;
    display: inline-block;
    .shared-content {
      border-left: 3px solid #4e5d6c;
      padding: 0px 10px;
      margin: 0 0 21px;
      color: rgb(87, 87, 87);
    }
  }
}

.aggie-tooltip {
  font-size: 10px;
  color: #fff;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border-radius: 3px;
  div {
    padding: 10px;
  }
  box-sizing: border-box;
}

td {
  span.source {
    display: block;
  }
}

.button--clearFilter {
  margin-left: -30px;
  z-index: 100;
  height: 29px;
}

.button--addIncident {
  background-color: #bfbfbf;
}

.tr--unread {
  background-color: white;
}

.tr--read {
  background-color: $gray;
}

.table__incidentTitle {
  max-width: 10vw;
}

.modal__incidentTitle {
  max-width: 100px;
  word-wrap: break-word;
}

.modal__location {
  max-width: 160px;
  word-wrap: break-word;
}
.table__location {
  max-width: 200px;
}

.td__tags {
  word-wrap: break-word;
}

.td__edit {
  cursor: pointer;
}

.td__delete {
  cursor: pointer;
}

.th__label {
  cursor: pointer;
}

tag.tr__tag {
  --tags-border-color: transparent;
}

.td__incident {
  position: relative;
  max-width: 120px;
  word-wrap: break-word;
}

.td__escalate {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 50;
}

.escalate__icon {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.confirm__span {
  white-space: nowrap;
}

.leftmost__confirm {
  border-top-left-radius: 0px;
}
.escalate--hidden {
  display: none;
}

.content__shared {
  border-left: 3px solid #4e5d6c;
  padding: 0px 10px;
  margin: 0 0 21px;
  color: #575757;
}

.content__comment {
  border-left: 3px solid #4e5d6c;
  padding: 0px 10px;
  color: #000;
}

.comment__icon {
  font-size: 14px;
  color: #000;
}

.content__originalPost {
  color: #929292;
}
.sourceInfo__author {

}
.author__icon {
  color: #929292;
  font-size: 14px;
}

.content__originalLink {
  color: #24AEC8;
  display: block;
}

.content {
  color: #000;
}


.table__checkbox {
  width: 32px;
}

input.checkbox__input {
  width: 22px;
  height: 22px;
}

.author__verifiedIcon {
  color: rgba(29,161,242,1.00);
}

.incident__addLink {
  padding-top: 40px;
  padding-bottom: 40px;
}

.td__commentTime {
  width: 120px;
}

.incidentShow__table {
  word-break: break-all;
  table-layout: fixed;
}

.relevant_table {
  border: 1px solid #6c757d;
}

.stickbottom {
  position: absolute;
  bottom: 0px;
}

tr.escalated {
  background-color: #FFDDDD;
  &:hover {
    background-color: darken(#FFDDDD, 5%);
  }
}

.label__button{
  font-weight: normal;
}

.example { overflow-wrap: break-word;}
