.modal {
  overflow-y: auto;
}

.modal-header {

  .close {
    z-index: 1000;
    float: none;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

.modal-lg {
  width: 90%;
}

.modal-body {
  font-size: 14px;
  padding: 15px;

  .info {
    margin: 0;
    margin-bottom: 25px;
    font-weight: bold;
  }

  .well {
    padding: 0px;
    margin-bottom: 0px;
  }

  tbody tr {
    transition: background 0.2s ease-in-out;

    &.item:hover {
      cursor: pointer;
      background-color: #eef3f7;
    }
  }
  li {
    line-height: 150%;
  }
}

.modal-header,
.modal-footer {
  background-color: #c8c8c8;
  margin-top: 0px;
  padding: 10px 20px 10px;
}

.modal-content {
  background-color: #fff;
  font-size: 14px;
}

.close {
  color: #333;
  &:hover,
  &:focus {
    color: #000;
  }
}
