.nav-tabs {
  margin-bottom: 10px;
  > li {
    > a {
      color: #000;
      &:hover, &:focus {
        background-color: #ebebeb;
        border-color: #ebebeb;
      }
    }
  }
  > li.active {
    > a, > a:hover, a:focus {
      color: #000;
      background-color: #fff;
      border: solid 1px #ebebeb;
      border-bottom: none;
    }
  }
}
