$navbar-green: #107c41;
$navbar-yellow: #eaef92;
$link-blue: #24AEC8;
$input-focus-outline: #66afe9;
$light-gray: #f5f6f7;
$gray: #e9ebee;
$input-gray: #ccd0d5;
$input-bg-gray: #f2f3f5;
$blue: #5bc0de;
$normal-weight: normal; // This is what the bootstrap style uses.
$medium-weight: 400; // Not quite bold.
$font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import 'shared/general';
@import 'shared/forms';
@import 'shared/navbar';
@import 'shared/buttons';
@import 'components/modals';
@import 'components/tables';
@import 'components/tabs';
@import 'components/tags';
@import 'sections/trend-bars';
@import 'sections/trend-lines';
@import 'sections/profile';
@import 'sections/settings';
@import 'sections/visualization';

// NOTE: Over time, the styles below should be refactored into separate files. See https://github.com/styleguide/css
// for directory structure.

html {
  height: 100%;
}

.padding {
  padding: 10px;
}


.breadcrumb {
  font-size: 19px;
  background-color: #eaef92;
  > .active {
    color: #999;
  }
}

.zero-errors, .green, .text-green {
  color: green;
}

.multiple-errors, .text-red {
  color: red;
}

.text-blue {
  color: $link-blue;
}

.text-gray {
  color: $gray;
}

.bg-gray {
  // Same color as Bootstrap card-headers.
  background-color: $gray;
}

.fetching {
  position: absolute;
  right: 15px;
  top: 0;
  padding: 8px 0;
  height: 26px;
}

.alert {

  font-size: 16px;
  margin-bottom: 0px;
  h4 {
    margin-bottom: 0;
  }
}

.events .time {
  width: 10%;
}

.events .type {
  width: 15%;
}

a.list-group-item {
  background-color: #fff;
  color: #555;
  &:hover {
    background-color: #f6f7f7;
  }
}

.panel-info {
  box-shadow: none;
  & > .panel-heading {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
  }
}

.dropdown-menu {
  background-color: #fff;
  border: solid 1px rgba(#000, 0.15);
}


.datepicker,
.bootstrap-datetimepicker-widget .datepicker {
  td {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
  }
}

.picker-switch a:hover {
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #428bca;
}

li.collapse, li.collapsing {
  margin: 10px;
}

#map-canvas {
  width: 100%;
  height: 450px;
  .info_window {
    overflow: auto;
    font-size: 12px;
  }
}

.pac-container {
  z-index: 1051 !important;
}

.map-marker {
  width: 20px;
  height: 20px;
  background-image: url('../images/map-marker.png');
}

.refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#wrapper {
  min-height:100%;
  position:relative;
}

.main {
  padding-bottom: 60px;
}

.container-main {
  background-color: #e9ebee;
}

footer {
  position: absolute;
  background-color: #ebeced;
  height: 20px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 20px;
  .version {
    position: absolute;
    right: 12px;
    bottom: 12px;
  }
}

.card__header {
  background-color: #f5f6f7;
}

.cardheader--withSelect {
  padding-left: 6px;
}

.batchcardheader--withSelect {
  padding-left: 6px;
  padding-right: 6px;
  //TODO: FIX THIS MESS OF ALIGNMENT
}

.card__footer {
  background-color: #f5f6f7;
}

.cardheader__text {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

