$navbar-green: #009446;
$navbar-yellow: #eaef92;
$link-blue: #1c75bc;
$input-focus-outline: #66afe9;

@import 'forms';
@import 'modals';
@import 'tables';
@import 'tabs';

html {
  height: 100%;
}

body {
  background-color: #fff;
  font-size: 12px;
  line-height: 1;
  color: #333;
  height: 100%;
}

a {
  color: $link-blue;
  &:hover {
    color: lighten($link-blue, 10%);
  }
}

.navbar-wrapper {
  margin-bottom: 21px;
}

.navbar-brand {
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  line-height: 19px;
}

.navbar {
  font-size: 14px;
}

.navbar-default {
  background-color: $navbar-green;
  margin-bottom: 0;
  .navbar-nav > li {
    > a:hover,
    > a:focus,
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      background-color: darken($navbar-green, 10%);
    }
  }
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.navbar-stats {
  min-height: 34px;
  background-color: $navbar-yellow;
  .navbar-text {
    line-height: 26px;
  }
  .container {
    position: relative;
  }
  .navbar-nav > li {
    > a:hover,
    > a:focus,
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      background-color: darken($navbar-yellow, 10%);
    }
  }
}

.navbar-text {
  line-height: 1;
  margin: 0;
  padding: 8px 0;
}

.nav li.user {
  font-weight: bold;
}

.jumbotron {
  background-color: #e3e6e3;
}

.well {
  background-color: #e3e6e3;
}

.btn {
  &:focus, &:active:focus {
    outline: none;
  }
}

.toggle-switch {
  display: inline-block;
  font-size: 0;
}

.toggle-item {
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: #808285;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  border: solid 1px #d1d3d4;
  width: 29px;
  height: 26px;
  background-color: #d1d3d4;
  &.selected {
    background-color: #92c8dc;
  }
}

.pager {
  text-align: right;
  margin: 0;
}



.btn-default {
  background-color: #5BC0DE;
}

.breadcrumb {
  font-size: 19px;
  padding-left: 0;
  background-color: #fff;
  > .active {
    color: #999;
  }
}

.zero-errors {
  color: green;
}

.multiple-errors {
  color: red;
}

.fetching {
  position: absolute;
  right: 15px;
  top: 0;
  padding: 8px 0;
  height: 26px;
}

.alert {
  font-size: 16px;
  h4 {
    margin-bottom: 0;
  }
}

.events .time {
  width: 10%;
}

.events .type {
  width: 15%;
}

.source-errors {
  position: absolute;
  right: 140px;
  top: 0;
  padding: 14px;
  height: 26px;
}

.source-errors a {
  color: red;
}

a.list-group-item {
  background-color: #fff;
  color: #555;
  &:hover {
    background-color: #f6f7f7;
  }
}

.panel-info {
  box-shadow: none;
  & > .panel-heading {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
  }
}

.dropdown-menu {
  background-color: #fff;
  border: solid 1px rgba(#000, 0.15);
}

.datepicker,
.bootstrap-datetimepicker-widget .datepicker {
  td {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
  }
}

.picker-switch a:hover {
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #428bca;
}

.timepicker-picker .table-condensed {
  td {
    border: none;
  }
  td a span.fa {
    margin-top: -18px;
    background-color: transparent;
  }
  td a.btn, td button.btn {
    background-color: #428bca;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

li.collapse, li.collapsing {
  margin: 10px;
}

.btn-default {
  background-color: #ebeced;
  color: #808285;
  &:hover {
    background-color: #d1d3d4;
  }
}

#map-canvas {
  width: 100%;
  height: 450px;
  .info_window {
    overflow: auto;
    font-size: 12px;
  }
}

.pac-container {
  z-index: 1051 !important;
}

.map-marker {
  width: 20px;
  height: 20px;
  background-image: url('../images/map-marker.png');
}

#wrapper {
  min-height:100%;
  position:relative;
}

footer {
  position: absolute;
  background-color: #009446;
  height: 20px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  .version {
    margin-top: 5px;
    position: absolute;
    right: 10px;
  }
}