$navbar-green: #009446;
$navbar-yellow: #eaef92;
$link-blue: #24AEC8;
$input-focus-outline: #66afe9;
$gray: #aaaaaa;
$blue: #5bc0de;
$normal-weight: normal; // This is what the bootstrap style uses.
$medium-weight: 400; // Not quite bold.
$font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import 'shared/general';
@import 'shared/forms';
@import 'shared/navbar';
@import 'shared/buttons';
@import 'shared/bootstrap-overrides';
@import 'components/modals';
@import 'components/tables';
@import 'components/tabs';
@import 'sections/trend-bars';
@import 'sections/trend-lines';
@import 'sections/profile';
@import 'sections/settings';

// NOTE: Over time, the styles below should be refactored into separate files. See https://github.com/styleguide/css
// for directory structure.

html {
  height: 100%;
}

.padding {
  padding: 10px;
}

.padding-top-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-sm {
  padding: 5px;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-bottom-lg {
  margin-bottom: 20px;
}

.well {
  background-color: #fff;
}

.toggle-switch {
  display: inline-block;
  font-size: 0;
}

.pointer {
  cursor: pointer;
}

.toggle-item {
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: #808285;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  border: solid 1px #d1d3d4;
  width: 29px;
  height: 26px;
  background-color: #d1d3d4;
  &.selected {
    background-color: #92c8dc;
  }
}

.pager {
  text-align: right;
  margin: 0;
}

.breadcrumb {
  font-size: 19px;
  padding-left: 0;
  background-color: #fff;
  > .active {
    color: #999;
  }
}

.zero-errors, .green, .text-green {
  color: green;
}

.multiple-errors, .text-red {
  color: red;
}

.text-blue {
  color: $link-blue;
}

.text-gray {
  color: $gray;
}

.bg-gray {
  background-color: #eee;
}

.fetching {
  position: absolute;
  right: 15px;
  top: 0;
  padding: 8px 0;
  height: 26px;
}

.alert {
  font-size: 16px;
  h4 {
    margin-bottom: 0;
  }
}

.events .time {
  width: 10%;
}

.events .type {
  width: 15%;
}

a.list-group-item {
  background-color: #fff;
  color: #555;
  &:hover {
    background-color: #f6f7f7;
  }
}

.panel-info {
  box-shadow: none;
  & > .panel-heading {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
  }
}

.dropdown-menu {
  background-color: #fff;
  border: solid 1px rgba(#000, 0.15);
}

.datepicker,
.bootstrap-datetimepicker-widget .datepicker {
  td {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
  }
}

.picker-switch a:hover {
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #428bca;
}

li.collapse, li.collapsing {
  margin: 10px;
}

#map-canvas {
  width: 100%;
  height: 450px;
  .info_window {
    overflow: auto;
    font-size: 12px;
  }
}

.pac-container {
  z-index: 1051 !important;
}

.map-marker {
  width: 20px;
  height: 20px;
  background-image: url('../images/map-marker.png');
}

.refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#wrapper {
  min-height:100%;
  position:relative;
}

.container-main {
  padding-bottom: 60px;
}

footer {
  position: absolute;
  background-color: #ebeced;
  height: 20px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 20px;
  .version {
    position: absolute;
    right: 12px;
    bottom: 12px;
  }
}
