$navbar-green: #009446;
$navbar-yellow: #eaef92;
$link-blue: #24AEC8;
$input-focus-outline: #66afe9;
$gray: #aaaaaa;
$blue: #5bc0de;

@import 'forms';
@import 'modals';
@import 'tables';
@import 'tabs';
@import 'trend-bars';

html {
  height: 100%;
}

body {
  background-color: #fff;
  font-size: 12px;
  line-height: 1;
  color: #333;
  height: 100%;
  font-weight: normal;
}

a {
  cursor: pointer;
  color: $link-blue;
  text-decoration: none;
  &:hover {
    color: lighten($link-blue, 10%);
    text-decoration: underline;
  }
}

.padding {
  padding: 10px;
}

.nopadding {
  padding: 0
}

.nomargin {
  margin: 0
}

.padding-top-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-sm {
  padding: 5px;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-bottom-lg {
  margin-bottom: 20px;
}

.navbar-wrapper {
  margin-bottom: 21px;
}

/* Adding all this context so we override the default bootstrap -15 left margin */
.navbar .container .navbar-brand {
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 0;
  background-image: url(../images/logo-v1.png);
  background-repeat: no-repeat;
  width: 104px;
  height: 28px;
}

.navbar {
  font-size: 14px;
}

.navbar-default {
  background-color: $navbar-green;
  margin-bottom: 0;
  .navbar-nav > li {
    > a:hover,
    > a:focus,
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      background-color: darken($navbar-green, 10%);
    }
  }
}

.navbar-nav > li > ul {
  > li {
    line-height: 40px;
    > a {
      font-size: 14px;
    }
  }
  padding: 0;
  border: hidden;
  background-color: darken($navbar-green, 10%);
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.navbar-stats {
  min-height: 34px;
  background-color: $navbar-yellow;
  .navbar-text {
    line-height: 26px;
  }
  .container {
    position: relative;
  }
  .navbar-nav > li {
    > a:hover,
    > a:focus,
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      background-color: darken($navbar-yellow, 10%);
    }
  }
}

.navbar-text {
  line-height: 1;
  margin: 0;
  padding: 8px 0;
  font-weight: normal;

  .nav-bar-number {
    font-size: 18px;
  }
  .nav-bar-label {
    font-size: 12px;
    margin-right: 10px;
  }
}

.nav li.user {
  font-weight: bold;
}

.jumbotron {
  background-color: #e3e6e3;
}

.well {
  background-color: #fff;
}

.btn {
  &:focus, &:active:focus {
    outline: none;
  }
}

.toggle-switch {
  display: inline-block;
  font-size: 0;
}

.pointer {
  cursor: pointer;
}

.toggle-item {
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: #808285;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  border: solid 1px #d1d3d4;
  width: 29px;
  height: 26px;
  background-color: #d1d3d4;
  &.selected {
    background-color: #92c8dc;
  }
}

.pager {
  text-align: right;
  margin: 0;
}


.btn-default {
  background-color: #5BC0DE;
}

.breadcrumb {
  font-size: 19px;
  padding-left: 0;
  background-color: #fff;
  > .active {
    color: #999;
  }
}

.zero-errors, .green, .text-green {
  color: green;
}

.multiple-errors, .text-red {
  color: red;
}

.text-blue {
  color: $link-blue;
}

.text-gray {
  color: $gray;
}

.bg-gray {
  background-color: #eee;
}

.fetching {
  position: absolute;
  right: 15px;
  top: 0;
  padding: 8px 0;
  height: 26px;
}

.alert {
  font-size: 16px;
  h4 {
    margin-bottom: 0;
  }
}

.events .time {
  width: 10%;
}

.events .type {
  width: 15%;
}

.source-errors {
  position: absolute;
  right: 140px;
  top: 0;
  padding: 14px;
  height: 26px;
}

.source-errors a {
  color: red;
}

a.list-group-item {
  background-color: #fff;
  color: #555;
  &:hover {
    background-color: #f6f7f7;
  }
}

.panel-info {
  box-shadow: none;
  & > .panel-heading {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
  }
}

.dropdown-menu {
  background-color: #fff;
  border: solid 1px rgba(#000, 0.15);
}

.datepicker,
.bootstrap-datetimepicker-widget .datepicker {
  td {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
  }
}

.picker-switch a:hover {
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #428bca;
}

.timepicker-picker .table-condensed {
  td {
    border: none;
  }
  td a span.fa {
    margin-top: -18px;
    background-color: transparent;
  }
  td a.btn, td button.btn {
    background-color: #428bca;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

li.collapse, li.collapsing {
  margin: 10px;
}

.btn-default {
  background-color: #ebeced;
  color: #808285;
  &:hover {
    background-color: #d1d3d4;
  }
}

.btn-text {
  padding: 0;
  border: none;
  background: none;
  color: rgb(25,181,217);
}

#map-canvas {
  width: 100%;
  height: 450px;
  .info_window {
    overflow: auto;
    font-size: 12px;
  }
}

.pac-container {
  z-index: 1051 !important;
}

.map-marker {
  width: 20px;
  height: 20px;
  background-image: url('../images/map-marker.png');
}

.table-settings {
  position: relative;
  width: 50%;

  label {
    margin: 0;
  }

  .settings-label {
    font-size: 16px;
  }

  td > div {
    label.active {
      background-color: #92c8dc;
    }
  }
}

.refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#wrapper {
  min-height:100%;
  position:relative;
}

.container-main {
  padding-bottom: 60px;
}

footer {
  position: absolute;
  background-color: #ebeced;
  height: 20px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 20px;
  .version {
    position: absolute;
    right: 12px;
    bottom: 12px;
  }
}

.legend {
  margin-top: 20px;

  .legend-item {
    background-color: #f6f6f6;
    margin-bottom: 10px;
    padding: 5px;

    input[type="checkbox"] {
      float: left;
      margin-top: 0px;
      margin-right: 10px;
    }
  }

  .legend-color {
    float: left;
    content: '';
    height: 30px;
    width: 8px;
  }

  .legend-terms {
    margin-left: 38px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 8px;
    }

    p {
      margin: 0 16px 3px 0;
      overflow: hidden;
      white-space: nowrap;

      &:last-child {
        margin: 0;
      }

      em {
        font-style: normal;
        color: #aaa;
      }
    }
  }

  .legend-terms-disabled {
    color: #aaa;
  }

  button.delete {
    font-size: 15px;
    background: transparent;
    border: 0;
    float: right;
    margin: 0;
    padding: 0;
  }
}

.canvasjs-chart-tooltip > div > p {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222222;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

.table-actions button {
  font-weight: bold;
}