$navbar-green: #009446;
$navbar-yellow: #eaef92;
$link-blue: #1c75bc;

@import 'tables';

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1;
  color: #333;
}

a {
  color: $link-blue;
  &:hover {
    color: lighten($link-blue, 10%);
  }
}

.navbar-brand {
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  line-height: 19px;
}

.navbar {
  font-size: 14px;
}

.navbar-default {
  background-color: $navbar-green;
  margin-bottom: 0;
  .navbar-nav > li {
    > a:hover,
    > a:focus,
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      background-color: darken($navbar-green, 10%);
    }
  }
}

.navbar-stats {
  background-color: $navbar-yellow;
}

.nav li.user {
  font-weight: bold;
}

.well {
  background-color: #e3e6e3;
}

label {
  font-size: 14px;
}

.form-control {
  font-size: 12px;
  height: 25px;
  box-shadow: none;
  background-color: #f3f6f9;
  padding: 4px 8px;
}

.modal {
  overflow-y: auto;
}

.modal-header,
.modal-footer {
  background-color: darken(#e3e6e3, 10%);
}

.modal-content {
  background-color: #e3e6e3;
}

.close {
  color: #333;
  &:hover,
  &:focus {
    color: #000;
  }
}

.btn {
  &:focus, &:active:focus {
    outline: none;
  }
}

.toggle-switch {
  display: inline-block;
  font-size: 0;
}

.toggle-item {
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: #808285;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  border: solid 1px #d1d3d4;
  width: 29px;
  height: 26px;
  background-color: #d1d3d4;
  &.selected {
    background-color: #92c8dc;
  }
}

.pager {
  text-align: right;
  margin: 0;
}

.input-group-btn .btn {
  line-height: 1;
  height: 25px;
  padding: 4px 8px;
}

.input-group-addon {
  padding: 4px 8px;
  background-color: #f3f6f9;
  color: #000;
}
.btn-default {
  background-color: #5BC0DE;
}

.input-group-btn:last-child > .btn {
  margin-left: 0;
}

input {
  &, &[type="date"] {
    border: solid 1px #ddd;
    line-height: 1;
    padding: 8px;
    &:active, &:focus {
      outline: none;
      border-color: #5bc0de;
    }
  }
}

.breadcrumb {
  padding-left: 0;
  background-color: #fff;
  > .active {
    color: #999;
  }
}

input[type="date"] {
  width: 160px;
}

.zeroErrors {
  color: green;
}

.multipleErrors {
  color: red;
}

.alert {
  h4 {
    margin-bottom: 0;
  }
}

.events .time {
  width: 10%;
}

.events .type {
  width: 15%;
}
