.modal {
  overflow-y: auto;
}

.modal-header {

  .close {
    z-index: 1000;
    float: none;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

.modal-body {
  font-size: 14px;
}

.modal-header,
.modal-footer {
  background-color: darken(#e3e6e3, 10%);
}

.modal-content {
  background-color: #fff;
  font-size: 14px;
}

.close {
  color: #333;
  &:hover,
  &:focus {
    color: #000;
  }
}

// Incident modals

.report-to-existing {

  .modal-lg {
    width: 90%;
  }

  .modal-body {

    p {
      margin: 0;
      font-weight: 500;
    }

    div > p {
      margin-bottom: 20px;
    }

    tbody tr {
      transition: background 0.2s ease-in-out;

      &.item:hover {
        background-color: #eef3f7;
      }
    }
  }

  .modal-footer {
    margin-top: 0;
  }
}
