.modal {
  overflow-y: auto;
}

.modal-header {
  .close {
    z-index: 1000;
    float: none;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

.modal-body {
  font-size: 14px;
  padding: 15px;
  .well {
    padding: 0px;
    margin-bottom: 0px;
  }
}

.modal-header,
.modal-footer {
  background-color: darken(#e3e6e3, 10%);
  margin-top: 0px;
  padding: 10px 20px 10px;
}

.modal-content {
  background-color: #e3e6e3;
  font-size: 14px;
}

.close {
  color: #333;
  &:hover,
  &:focus {
    color: #000;
  }
}
