.table, table {
  > thead {
    > tr {
      > th {
        font-weight: normal;
        border: none;
      }
    }
  }
  > tbody {
    > tr {
      transition: background 0.25s ease-in-out;
      &.item {
        cursor: pointer;
      }
      > td {
        border: solid 1px #e4e4e4;
        &.status,&.incident {
          vertical-align: middle;
        }
      }
    }
  }
  .compact {
    white-space: nowrap;
  }
  .expand {
    max-width: 100%;
  }
}

.detail-table {
  width: auto;
  .detail-key {
    min-width: 100px;
  }
  .detail-value {
    min-width: 200px;
  }
}

tr {
  background-color: #fff;
  &:hover {
    background-color: #f6f7f7;
  }
}
.relevant {
  background-color: #ecf6f8;
  &:hover {
    background-color: darken(#ecf6f8, 5%);
  }
}
.irrelevant {
  background-color: #f1f2f2;
  &:hover {
    background-color: darken(#f1f2f2, 5%);
  }
}

.interval {
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  margin-right: 10px;
  .interval-amount,
  .interval-relative {
    display: block;
    line-height: 1;
  }
  .interval-amount {
    font-size: 14px;
  }
}

.date-and-time {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  color: #666;
  .date, .time {
    display: block;
  }
}

.source {
  .icon-left {
    padding-left: 39px;
    min-height: 33px;
  }
}
.twitter-source .icon-left {
  background: url('/images/twitter.png') no-repeat 0 50%;
}

.source,
.author,
.content {
  font-weight: bold;
}


.content {
  max-width: 400px;
}

table, .table {
  a {
    color: $link-blue;
    &:hover {
      color: lighten($link-blue, 10%);
    }
  }
}

.table-filters {
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  display: table;
  label {
    font-weight: bold;
  }
  .filter {
    width: 100%;
    vertical-align: top;
    display: table-cell;
    padding: 0 8px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .btn {
    line-height: 1;
    height: 25px;
    padding: 4px 8px;
    font-size: 12px;
  }
  .status-filter,
  .source-type-filter {
    select {
      width: auto;
    }
  }
  .date-filter {
    label {
      margin-right: 4px;
    }
    input {
      width: auto;
      line-height: 1;
      height: 25px;
    }
  }
  .date-filter,
  .pagination {
    white-space: nowrap;
    .pager-label {
      margin-right: 4px;
    }
  }
}
