.table, table {
  > thead {
    > tr {
      > th {
        font-weight: normal;
        border: none;
      }
    }
  }
  > tbody {
    > tr {
      transition: background 0.25s ease-in-out;
      &.item {
        cursor: pointer;
      }
      > td {
        border: solid 1px #e4e4e4;
        &.status,
        &.incident {
          vertical-align: middle;
        }
      }
    }
  }
  .compact {
    white-space: nowrap;
  }
  .expand {
    width: 100%;
  }
}

.detail-table {
  width: auto;
  .detail-key {
    min-width: 100px;
  }
  .detail-value {
    min-width: 200px;
  }
}

tbody {
  tr.item {
    background-color: #fff;
    &:hover {
      background-color: #f6f7f7;
    }
  }
  .relevant {
    background-color: #ecf6f8;
    &:hover {
      background-color: darken(#ecf6f8, 5%);
    }
  }
  .irrelevant {
    background-color: #f1f2f2;
    &:hover {
      background-color: darken(#f1f2f2, 5%);
    }
  }
  tr.unread {
    td {
      font-weight: bold;
    }
  }
  tr.new-incident {
    background-color: rgba(146, 200, 220, 0.4);
  }
  tr.working-incident {
    background-color: rgba(0, 200, 70, 0.4);
  }
  tr.alert-incident {
    background-color: rgba(234, 239, 146, 0.4);
    // red? background-color: rgba(255, 0, 0, 0.3);
  }
  tr.closed-incident {
    background-color: rgba(100, 100, 100, 0.4);
  }
}

.interval {
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  margin-right: 10px;
  min-width: 31px;
  .interval-amount,
  .interval-relative {
    display: block;
    line-height: 1;
  }
  .interval-amount {
    font-size: 14px;
  }
}

.date-and-time {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  color: #666;
  .date, .time {
    display: block;
  }
}

.source {
  .icon-left {
    display: inline-block;
    padding-left: 39px;
    min-height: 33px;
  }
}

.unknown-source {
  .icon-left {
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      width: 33px;
      height: 33px;
      line-height: 33px;
      text-align: center;
      background-color: #ddd;
      color: #bbb;
      font-size: 20px;
      content: '?'
    }
  }
}

.twitter-source .icon-left {
  background: transparent url('/images/twitter.png') no-repeat 0 50%;
  &:before {
    display: none;
  }
}

.elmo-source .icon-left {
  background: url('/images/elmo.png') no-repeat 0 50%;
}

.facebook-source .icon-left {
  background: url('/images/facebook.png') no-repeat 0 50%;
}

.rss-source .icon-left {
  background: url('/images/rss.png') no-repeat 0 50%;
}

.source,
.author,
.content {
  font-weight: bold;
}


.content {
  max-width: 400px;
}

table, .table {
  td.vertical-middle {
    vertical-align: middle;
  }
  a {
    color: $link-blue;
    &:hover {
      color: lighten($link-blue, 10%);
    }
  }
  .btn {
    color: #fff;
    background-color: #5BC0DE;
    text-decoration: none;
    line-height: 15px;
    height: 25px;
    padding: 4px 8px;
    font-size: 12px;
    &:hover {
      background-color: #39B3D7;
    }
  }
}

.table-filters {
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  display: table;
  label {
    font-weight: bold;
  }
  .filter {
    vertical-align: top;
    display: table-cell;
    padding: 0 8px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .form-control {
    font-size: 12px;
    height: 25px;
  }
  .status-filter,
  .source-type-filter {
    select {
      width: auto;
    }
  }
  .date-filter {
    label {
      margin-right: 4px;
    }
    input {
      width: auto;
      line-height: 1;
      height: 25px;
    }
  }
  .date-filter,
  .pagination {
    white-space: nowrap;
    .pager-label {
      margin-right: 4px;
    }
  }
}

.table-actions {
  margin-bottom: 10px;
}

.table-filters,
.table-actions {
  .btn {
    line-height: 15px;
    height: 25px;
    padding: 4px 8px;
    font-size: 12px;
  }
}

.actions {
  width: 10%;
  text-align: center;
}
.table .middle {
  vertical-align: middle;
}
