.table, table {
  > thead {
    > tr {
      > th {
        font-weight: normal;
        border: none;
      }
    }
  }
  > tbody {
    > tr {
      transition: background 0.25s ease-in-out;
      > td {
        border: solid 1px #e4e4e4;
        font-weight: normal;
        &.status {
          vertical-align: middle;
        }
        &.incident {
          vertical-align: middle;
          min-width: 150px;
        }
        &.flagged {
          vertical-align: middle;
        }
      }
    }
  }
  .compact {
    white-space: nowrap;
  }
  .expand {
    width: 100%;
  }
}

.detail-table {
  width: auto;
  .detail-key {
    min-width: 100px;
  }
  .detail-value {
    min-width: 200px;
  }
}

tbody {
  .relevant {
    background-color: #ecf6f8;
    &:hover {
      background-color: darken(#ecf6f8, 5%);
    }
  }
  .irrelevant {
    background-color: #f1f2f2;
    &:hover {
      background-color: darken(#f1f2f2, 5%);
    }
  }
  tr.unread {
    td {
      font-weight: bold;
    }
  }

  tr.flagged {
    background-color: #FFDDDD;
    &:hover {
      background-color: darken(#FFDDDD, 5%);
    }
  }
  tr.new-incident {
    background-color: rgba(146, 200, 220, 0.4);
  }
  tr.working-incident {
    background-color: rgba(0, 200, 70, 0.4);
  }
  tr.alert-incident {
    background-color: rgba(234, 239, 146, 0.4);
    // red? background-color: rgba(255, 0, 0, 0.3);
  }
  tr.closed-incident {
    background-color: rgba(100, 100, 100, 0.4);
  }
  tr td span.angular-with-newlines {
    white-space: pre;
  }
}

.interval {
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  margin-right: 10px;
  min-width: 31px;
  .interval-amount,
  .interval-relative {
    display: block;
    line-height: 1;
  }
  .interval-amount {
    font-size: 14px;
  }
}

.date-and-time {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  color: #666;
  .date, .time {
    display: block;
  }
}

.source {
  .icon-left {
    display: inline-block;
    padding-left: 33px;
    min-height: 33px;
  }
}

.unknown-source {
  .icon-left {
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      width: 33px;
      height: 33px;
      line-height: 33px;
      text-align: center;
      background-color: #ddd;
      color: #bbb;
      font-size: 20px;
      content: '?'
    }
  }
}

.twitter-source .icon-left {
  background: transparent url('/images/twitter.png') no-repeat 0 50%;
  &:before {
    display: none;
  }
}

.elmo-source .icon-left {
  background: url('/images/elmo.png') no-repeat 0 50%;
}

.facebook-source .icon-left {
  background: url('/images/facebook.png') no-repeat 0 50%;
}

.rss-source .icon-left {
  background: url('/images/rss.png') no-repeat 0 50%;
}

.strong {
  font-weight: bold;
}

table, .table {
  td {
    &.vertical-middle {
      vertical-align: middle;
    }

    &.relative {
      position: relative;
    }

    .fa {
      font-size: 16px;
      padding: 3px;
    }

  }
  a {
    color: $link-blue;
    text-decoration: none;
    &:hover {
      color: lighten($link-blue, 10%);
      text-decoration: underline;
    }
    &.remove {
      color: #000;
      position: absolute;
      top: -2px;
      right: 4px;
    }
  }
  .btn {
    color: #fff;
    text-decoration: none;
    line-height: 15px;
    height: 25px;
    padding: 4px 8px;
    font-size: 12px;
  }
  .btn-info {
    background-color: #5BC0DE;
    &:hover {
      background-color: #39B3D7;
    }
  }
  .btn-default {
    background-color: #ebeced;
    color: #808285;
    &:hover {
      background-color: #d1d3d4;
    }
  }
  tr.trend-disabled {
    background-color: rgba(100, 100, 100, 0.4);
  }
}

.batch-mode {
  background-color: $blue;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 12px;
  color: #fff;
  .title {
    font-size: 14px;
    font-weight: normal;
  }
}

.table-filters {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #bfbfbf;
  font-size: 12px;
  display: table;
  label {
    font-weight: bold;
  }
  select {
    width: auto;
    max-width: 100px;
  }
  .filter {
    vertical-align: top;
    display: table-cell;
    padding: 0 8px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .form-control {
    font-size: 12px;
    height: 25px;
  }
  .date-filter {
    label {
      margin-right: 4px;
    }
    input {
      width: auto;
      line-height: 1;
      height: 25px;
    }
  }
}

.table-filters,
.table-actions,
.batch-actions {
  .btn {
    line-height: 15px;
    height: 25px;
    padding: 4px 8px;
    font-size: 12px;

    &.highlight {
      color: #000;
      font-weight: normal;
    }
  }

  .checkbox-btn {
    font-size: 14px;
    margin-top: 10px;
    padding: 4px 8px 5px 8px;
  }

}

.table-actions {

  .btn {
    width: 100px;
  }

}

.pagination {
  margin: 0;

  .btn {
    width: 25px;
    font-size: 18px;
  }

  li {
    display: inline-block;

    &:not(.pager-label) {
      margin-left: 5px;
    }

    &.pager-label {
      margin-right: 5px;
      font-size: 13px;
    }
  }
}

.actions {
  width: 50px;
  text-align: center;
}

.table .middle {
  vertical-align: middle;
}

td.content {
  height: 100% !important;
  max-width: 400px;
  a {
    color: #000;
    height: 100%;
    width: 100%;
    display: inline-block;
  }
}

td.sparkline,
.table > tbody > tr > td.sparkline { // Why must you use such specific selectors, Bootstrap?
  width: 748px;
  vertical-align: bottom;
  canvas {
    vertical-align: bottom !important;
  }
}

.aggie-sparkline {
  cursor: pointer;
}

.aggie-tooltip {
  font-size: 10px;
  color: #fff;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border-radius: 3px;
  div {
    padding: 10px;
  }
  box-sizing: border-box;
}
